Repository QwikDev/qwik, changes with the owners that .github/CODEOWNERS names for each.
All owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/api-guards, @mhevery, @shairez

.github/CODEOWNERS:

# For all PRs
* @QwikDev/core-veterans

# For docs PRs
packages/docs @QwikDev/docs-team @QwikDev/qwik-team
contributing @QwikDev/docs-team @QwikDev/qwik-team
README.md @QwikDev/docs-team @QwikDev/qwik-team
CONTRIBUTING.md @QwikDev/docs-team @QwikDev/qwik-team
CODE_OF_CONDUCT.md @QwikDev/docs-team @QwikDev/qwik-team

# For API changes
api.json @QwikDev/api-guards

# Protect the code owners file
.github/CODEOWNERS @mhevery @shairez

chore: couldn't handle that joke anymore 😅 (#6671)
  packages/create-qwik/src/helpers/jokes.json
Owners: @QwikDev/core-veterans

chore: 1.7.1
  package.json
  packages/create-qwik/package.json
  packages/eslint-plugin-qwik/package.json
  packages/qwik-city/package.json
  packages/qwik/package.json
Owners: @QwikDev/core-veterans

chore: 1.7.1 (#6672)
  package.json
  packages/create-qwik/package.json
  packages/eslint-plugin-qwik/package.json
  packages/qwik-city/package.json
  packages/qwik/package.json
Owners: @QwikDev/core-veterans

chore: 1.7.1 (#6672)
  package.json
  packages/create-qwik/package.json
  packages/eslint-plugin-qwik/package.json
  packages/qwik-city/package.json
  packages/qwik/package.json
Owners: @QwikDev/core-veterans

fix(dev): don't emitFile in serve mode
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

add cf pages deployment
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

comment out cf pages deployment
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

update ci
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

fix: replace chunkFileNames logic
  packages/qwik/src/optimizer/src/plugins/vite.ts
Owners: @QwikDev/core-veterans

fix: replace chunkFileNames logic (#6675)
  packages/qwik/src/optimizer/src/plugins/vite.ts
Owners: @QwikDev/core-veterans

fix: replace chunkFileNames logic (#6675)
  packages/qwik/src/optimizer/src/plugins/vite.ts
Owners: @QwikDev/core-veterans

uncomment cf pages deployment action
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

remove upload qwik artifact id
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

WIP: most of the use-signal.spec tests pass
  packages/qwik/src/core/use/use-core.ts
  packages/qwik/src/core/v2/client/dom-container.ts
  packages/qwik/src/core/v2/client/vnode-diff.ts
  packages/qwik/src/core/v2/shared/shared-serialization.ts
  packages/qwik/src/core/v2/signal/v2-signal.ts
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
Owners: @QwikDev/core-veterans

fix(dev): avoid warning in dev mode (#6674)
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

fix(dev): avoid warning in dev mode (#6674)
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

WIP: use-signal.spec.tsx passing
  packages/qwik/src/core/index.ts
  packages/qwik/src/core/use/use-core.ts
  packages/qwik/src/core/v2/shared/shared-container.ts
  packages/qwik/src/core/v2/shared/shared-serialization.ts
  packages/qwik/src/core/v2/signal/v2-signal.public.ts
  packages/qwik/src/core/v2/signal/v2-signal.ts
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
  packages/qwik/src/core/v2/tests/projection.spec.tsx
  packages/qwik/src/core/v2/tests/use-signal.spec.tsx
  packages/qwik/src/server/v2-ssr-container.ts
Owners: @QwikDev/core-veterans

comment out cf deployment
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

fix(v2): docs build (#6669)
  .github/workflows/ci.yml
  packages/docs/package.json
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/docsearch/results-screen.tsx
  packages/docs/src/routes/(shop)/shop/shop-product.tsx
  packages/docs/src/routes/demo/integration/img/unpic/simple/index.tsx
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
  pnpm-lock.yaml
Owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team

fix(v2): docs build (#6669)
  .github/workflows/ci.yml
  packages/docs/package.json
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/docsearch/results-screen.tsx
  packages/docs/src/routes/(shop)/shop/shop-product.tsx
  packages/docs/src/routes/demo/integration/img/unpic/simple/index.tsx
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
  pnpm-lock.yaml
Owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team

feat(v2): docs deployment
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

update ci
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

chore: fix "STATUS-1" labels removal with workflow
  .github/workflows/labeling-issues.yml
Owners: @QwikDev/core-veterans

feat(repl): bundle wasm
  packages/docs/src/repl/bundled.tsx
  packages/docs/src/repl/repl.tsx
  packages/docs/src/repl/worker/repl-dependencies.ts
  packages/qwik/src/optimizer/src/platform.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

feat(repl): bundle wasm
  packages/docs/src/repl/bundled.tsx
  packages/docs/src/repl/repl.tsx
  packages/docs/src/repl/worker/repl-dependencies.ts
  packages/qwik/src/optimizer/src/platform.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

feat(v2): docs deployment (#6679)
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

feat(v2): docs deployment (#6679)
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

fix(v2): deep store update
  packages/qwik/src/core/state/store.ts
  packages/qwik/src/core/v2/tests/use-store.spec.tsx
Owners: @QwikDev/core-veterans

fix(v2): deep store update (#6681)
  packages/qwik/src/core/state/store.ts
  packages/qwik/src/core/v2/tests/use-store.spec.tsx
Owners: @QwikDev/core-veterans

fix(v2): deep store update (#6681)
  packages/qwik/src/core/state/store.ts
  packages/qwik/src/core/v2/tests/use-store.spec.tsx
Owners: @QwikDev/core-veterans

fix(partytown-starter): using type import
  starters/features/partytown/src/components/partytown/partytown.tsx
Owners: @QwikDev/core-veterans

fix(partytown-starter): using type import (#6682)
  starters/features/partytown/src/components/partytown/partytown.tsx
Owners: @QwikDev/core-veterans

fix(partytown-starter): using type import (#6682)
  starters/features/partytown/src/components/partytown/partytown.tsx
Owners: @QwikDev/core-veterans

chore: fix "STATUS-1" labels removal with workflow (#6680)
  .github/workflows/labeling-issues.yml
Owners: @QwikDev/core-veterans

chore: fix "STATUS-1" labels removal with workflow (#6680)
  .github/workflows/labeling-issues.yml
Owners: @QwikDev/core-veterans

fix(v2): mutating props
  packages/qwik/src/core/util/flyweight.ts
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
Owners: @QwikDev/core-veterans

tests(qwik-city,e2e,nav): Add a test case for #6660
  packages/docs/src/routes/api/qwik/api.json
  starters/apps/qwikcity-test/src/routes/issue6660/index.tsx
  starters/e2e/qwikcity/nav.spec.ts
Owners: @QwikDev/api-guards, @QwikDev/core-veterans

fix(qwik-city): Remove qaction from search params from response url to prevent unwanted redirects
  packages/qwik-city/runtime/src/qwik-city-component.tsx
  starters/apps/qwikcity-test/src/routes/issue6660/index.tsx
  starters/e2e/qwikcity/nav.spec.ts
Owners: @QwikDev/core-veterans

chore: Run fmt and api.update
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
Owners: @QwikDev/api-guards, @QwikDev/docs-team, @QwikDev/qwik-team

Update package.json
  packages/eslint-plugin-qwik/package.json
Owners: @QwikDev/core-veterans
