Repository QwikDev/qwik, changes with the owners that .github/CODEOWNERS names for each.
All owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/api-guards, @mhevery, @shairez

feat: use new @auth/qwik package
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/insights/package.json
  packages/insights/src/components/header/index.tsx
  packages/insights/src/routes/index.tsx
  packages/insights/src/routes/plugin@auth.ts
  pnpm-lock.yaml
  starters/features/auth/package.json
  starters/features/auth/src/routes/plugin@auth.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

Update pages.json
  packages/docs/scripts/pages.json
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

fix(v2): docs build
  .github/workflows/ci.yml
  packages/docs/package.json
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/docsearch/results-screen.tsx
  packages/docs/src/routes/(shop)/shop/shop-product.tsx
  packages/docs/src/routes/demo/integration/img/unpic/simple/index.tsx
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
  pnpm-lock.yaml
Owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team

new pnpm-lock
  pnpm-lock.yaml
Owners: @QwikDev/core-veterans

fix lint
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
Owners: @QwikDev/core-veterans

disable insights build
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

refactor: change callbackUrl -> redirectTo
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/insights/src/components/header/index.tsx
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

fix: use SessionData type
  packages/insights/src/routes/app/layout.tsx
  packages/insights/src/routes/layout.tsx
Owners: @QwikDev/core-veterans

fix(v2): qwik inspector
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
Owners: @QwikDev/core-veterans

chore: build showcases
  packages/docs/public/showcases/qit_tools_.webp
  packages/docs/public/showcases/www_placementpreparation_io_.webp
  packages/docs/src/routes/(ecosystem)/showcase/generated-pages.json
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

docs: added placementpreparation.io to showcase page (#6659)
  packages/docs/public/showcases/qit_tools_.webp
  packages/docs/public/showcases/www_placementpreparation_io_.webp
  packages/docs/scripts/pages.json
  packages/docs/src/routes/(ecosystem)/showcase/generated-pages.json
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

docs: added placementpreparation.io to showcase page (#6659)
  packages/docs/public/showcases/qit_tools_.webp
  packages/docs/public/showcases/www_placementpreparation_io_.webp
  packages/docs/scripts/pages.json
  packages/docs/src/routes/(ecosystem)/showcase/generated-pages.json
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

feat: use new @auth/qwik package (#6658)
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/insights/package.json
  packages/insights/src/components/header/index.tsx
  packages/insights/src/routes/app/layout.tsx
  packages/insights/src/routes/index.tsx
  packages/insights/src/routes/layout.tsx
  packages/insights/src/routes/plugin@auth.ts
  pnpm-lock.yaml
  starters/features/auth/package.json
  starters/features/auth/src/routes/plugin@auth.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

feat: use new @auth/qwik package (#6658)
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/insights/package.json
  packages/insights/src/components/header/index.tsx
  packages/insights/src/routes/app/layout.tsx
  packages/insights/src/routes/index.tsx
  packages/insights/src/routes/layout.tsx
  packages/insights/src/routes/plugin@auth.ts
  pnpm-lock.yaml
  starters/features/auth/package.json
  starters/features/auth/src/routes/plugin@auth.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

perf(optimizer): "value" optional in _wrapProp
  packages/qwik/src/core/api.md
  packages/qwik/src/core/state/signal.ts
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_class_name.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_cmp.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_div.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_multiple_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_input_bind.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_mutable_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__should_handle_dangerously_set_inner_html.snap
  packages/qwik/src/optimizer/core/src/transform.rs
Owners: @QwikDev/core-veterans

perf(optimizer): "value" optional in _wrapProp
  packages/qwik/src/core/api.md
  packages/qwik/src/core/state/signal.ts
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_class_name.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_cmp.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_div.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_derived_signals_multiple_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_input_bind.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_mutable_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__should_handle_dangerously_set_inner_html.snap
  packages/qwik/src/optimizer/core/src/transform.rs
Owners: @QwikDev/core-veterans

fix(v2): qwik inspector
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
Owners: @QwikDev/core-veterans

fix(v2): qwik inspector
  packages/qwik/src/core/v2/ssr/ssr-render-jsx.ts
Owners: @QwikDev/core-veterans

fix(dev): incorrect abs path resolutions
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

refactor(optimizer): make is_server a regular bool
  packages/qwik/src/optimizer/core/src/lib.rs
  packages/qwik/src/optimizer/core/src/parse.rs
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_qwik_sdk_inline.snap
  packages/qwik/src/optimizer/core/src/test.rs
  packages/qwik/src/optimizer/core/src/transform.rs
Owners: @QwikDev/core-veterans

Update readme footer logo
  README.md
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

Update README.md
  README.md
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

change alt tag
  README.md
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

docs: update readme footer logo (#6668)
  README.md
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

docs: update readme footer logo (#6668)
  README.md
Owners: @QwikDev/docs-team, @QwikDev/qwik-team

fix(dev): more robust symbolMapper export
  packages/qwik/src/optimizer/src/plugins/vite-dev-server.ts
Owners: @QwikDev/core-veterans

fix(dev): determine isServer better
  packages/docs/src/repl/worker/app-bundle-ssr.ts
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

fix(v2): docs build
  .github/workflows/ci.yml
  packages/docs/package.json
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/docsearch/results-screen.tsx
  packages/docs/src/routes/(shop)/shop/shop-product.tsx
  packages/docs/src/routes/demo/integration/img/unpic/simple/index.tsx
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
  pnpm-lock.yaml
Owners: @QwikDev/core-veterans, @QwikDev/docs-team, @QwikDev/qwik-team

fix lint
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
Owners: @QwikDev/core-veterans

disable insights again
  .github/workflows/ci.yml
Owners: @QwikDev/core-veterans

chore: couldn't handle that joke anymore
  packages/create-qwik/src/helpers/jokes.json
Owners: @QwikDev/core-veterans

fix(dev): more robust symbolMapper export
  packages/qwik/src/optimizer/src/plugins/vite-dev-server.ts
Owners: @QwikDev/core-veterans

refactor(optimizer): make is_server a regular bool
  packages/qwik/src/optimizer/core/src/lib.rs
  packages/qwik/src/optimizer/core/src/parse.rs
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_qwik_sdk_inline.snap
  packages/qwik/src/optimizer/core/src/test.rs
  packages/qwik/src/optimizer/core/src/transform.rs
Owners: @QwikDev/core-veterans

fix(dev): incorrect abs path resolutions
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

fix(dev): determine isServer better
  packages/docs/src/repl/worker/app-bundle-ssr.ts
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

fix(dev): determine isServer better
  packages/docs/src/repl/worker/app-bundle-ssr.ts
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/docs-team, @QwikDev/qwik-team, @QwikDev/core-veterans

fix(dev): more robust symbolMapper export
  packages/qwik/src/optimizer/src/plugins/vite-dev-server.ts
Owners: @QwikDev/core-veterans

fix(dev): incorrect abs path resolutions
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Owners: @QwikDev/core-veterans

refactor(optimizer): make is_server a regular bool
  packages/qwik/src/optimizer/core/src/lib.rs
  packages/qwik/src/optimizer/core/src/parse.rs
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_qwik_sdk_inline.snap
  packages/qwik/src/optimizer/core/src/test.rs
  packages/qwik/src/optimizer/core/src/transform.rs
Owners: @QwikDev/core-veterans

chore: couldn't handle that joke anymore 😅 (#6671)
  packages/create-qwik/src/helpers/jokes.json
Owners: @QwikDev/core-veterans

.github/CODEOWNERS:

# For all PRs
* @QwikDev/core-veterans

# For docs PRs
packages/docs @QwikDev/docs-team @QwikDev/qwik-team
contributing @QwikDev/docs-team @QwikDev/qwik-team
README.md @QwikDev/docs-team @QwikDev/qwik-team
CONTRIBUTING.md @QwikDev/docs-team @QwikDev/qwik-team
CODE_OF_CONDUCT.md @QwikDev/docs-team @QwikDev/qwik-team

# For API changes
api.json @QwikDev/api-guards

# Protect the code owners file
.github/CODEOWNERS @mhevery @shairez
