Repository QwikDev/qwik, pull requests merged in 2023-12, with the labels that each got.

#5505 docs: add QwikCityMockProvider explanation
  packages/docs/src/routes/docs/(qwikcity)/api/index.mdx
  packages/docs/src/routes/docs/integrations/vitest/index.mdx
Labels: COMP: docs

#5509 fix(qwik): handle cypress dev server path
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core, STATUS-2: PR waiting for review

#5523 docs(showcase): add juneikerc.com - blog [prismic cms] and personal website
  packages/docs/public/showcases/frostytools_com.webp
  packages/docs/public/showcases/index_app_beta.webp
  packages/docs/public/showcases/juneikerc_com.webp
  packages/docs/public/showcases/quotemingle_com_.webp
  packages/docs/public/showcases/wiza_co.webp
  packages/docs/public/showcases/wope_com_.webp
  packages/docs/public/showcases/www_dimension_dev.webp
  packages/docs/scripts/pages.json
  packages/docs/src/routes/(ecosystem)/showcase/generated-pages.json
Labels: TYPE: showcase, STATUS-2: PR waiting for review

#5494 fix(localization-starter): update docs and add script
  packages/docs/src/routes/docs/integrations/i18n/index.mdx
  starters/features/localize/package.json
Labels: COMP: starters

#5525 chore(qwik-city): bump vite-imagetools ^5 -> ^6
  packages/qwik-city/package.json
  pnpm-lock.yaml
Labels: STATUS-2: waiting for an answer, COMP: qwik-city

#5530 chore: update .nvmrc
  .nvmrc
Labels: COMP: chore

#5517 feat(insight): Add user auth to only see your app data.
  packages/insights/drizzle/0014_needy_ben_grimm.sql
  packages/insights/drizzle/0015_complete_wolf_cub.sql
  packages/insights/drizzle/meta/0014_snapshot.json
  packages/insights/drizzle/meta/0015_snapshot.json
  packages/insights/drizzle/meta/_journal.json
  packages/insights/src/components/header/index.tsx
  packages/insights/src/db/schema.ts
  packages/insights/src/db/sql-user.ts
  packages/insights/src/root.tsx
  packages/insights/src/routes/api/v1/[publicApiKey]/post/error/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/app.form.tsx
  packages/insights/src/routes/app/[publicApiKey]/edit/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/layout.tsx
  packages/insights/src/routes/app/index.tsx
  packages/insights/src/routes/app/layout.tsx
  packages/insights/src/routes/index.tsx
Labels: TYPE: enhancement, COMP: insights

#5548 docs: add qwik-storefront-ui library
  packages/docs/public/ecosystem/qwik-storefront-ui.png
  packages/docs/src/routes/(ecosystem)/ecosystem.json
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs

#5549 docs: change image url
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs

#5553 chore(starters): add type module to package.json
  starters/apps/base/package.json
Labels: COMP: starters

#5563 fix: use existing local .eslintrc configuration
  packages/qwik/src/optimizer/src/plugins/eslint-plugin.ts
Labels: COMP: eslint

#5575 chore(eslint-plugin-qwik): add 'qwik/no-use-visible-task': 'warn' to strict
  packages/eslint-plugin-qwik/index.ts
Labels: COMP: eslint

#5583 docs(usevisibletask$): reduce eslint noUseVisibleTask message + transfer to docs
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/best-practices/index.mdx
  packages/eslint-plugin-qwik/src/noUseVisibleTask.ts
Labels: COMP: docs, COMP: eslint

#5590 docs: remove console warning
  packages/docs/src/routes/docs/integrations/vitest/index.mdx
  packages/eslint-plugin-qwik/package.json
Labels: COMP: docs

#5588 fix(qwik-city): Scroll Position doesn't reset to 0 when it was triggered by an Action.
  packages/qwik-city/runtime/src/qwik-city-component.tsx
  packages/qwik-city/runtime/src/scroll-restoration.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#5545 feat(qwik): Experimental support for synchronous QRL `sync$()`.
  .gitignore
  .vscode/launch.json
  packages/docs/package.json
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/api/qwik-testing/api.json
  packages/docs/src/routes/api/qwik-testing/index.md
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/docs/src/routes/demo/cookbook/sync-event/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/events/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/state/index.mdx
  packages/docs/src/routes/docs/cookbook/mediaController/index.mdx
  packages/docs/src/routes/docs/cookbook/portal/index.mdx
  packages/docs/src/routes/docs/cookbook/sync-events/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/docs/src/routes/examples/apps/partial/hackernews-index/app.tsx
  packages/docs/src/routes/examples/apps/partial/hackernews-index/hacker-news.css
  packages/docs/src/routes/tutorial/events/synchronous-sync/index.mdx
  packages/docs/src/routes/tutorial/events/synchronous-sync/problem/app.tsx
  packages/docs/src/routes/tutorial/events/synchronous-sync/solution/app.tsx
  packages/docs/src/routes/tutorial/events/synchronous-visible/index.mdx
  packages/docs/src/routes/tutorial/events/synchronous-visible/problem/app.tsx
  packages/docs/src/routes/tutorial/events/synchronous-visible/solution/app.tsx
  packages/docs/src/routes/tutorial/events/synchronous/index.mdx
  packages/docs/src/routes/tutorial/tutorial-menu.json
  packages/insights/package.json
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/link-component.tsx
  packages/qwik/src/core/api.md
  packages/qwik/src/core/container/container.ts
  packages/qwik/src/core/container/pause.ts
  packages/qwik/src/core/container/resume.ts
  packages/qwik/src/core/container/serializers.ts
  packages/qwik/src/core/index.ts
  packages/qwik/src/core/qrl/qrl-class.ts
  packages/qwik/src/core/qrl/qrl.public.ts
  packages/qwik/src/core/qrl/qrl.ts
  packages/qwik/src/core/render/ssr/render-ssr.ts
  packages/qwik/src/core/render/sync-qrl.unit.tsx
  packages/qwik/src/core/util/element.ts
  packages/qwik/src/optimizer/core/src/inlined_fn.rs
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_of_synchronous_qrl.snap
  packages/qwik/src/optimizer/core/src/test.rs
  packages/qwik/src/optimizer/core/src/transform.rs
  packages/qwik/src/optimizer/core/src/words.rs
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
  packages/qwik/src/qwikloader.ts
  packages/qwik/src/server/platform.ts
  packages/qwik/src/server/render.ts
  packages/qwik/src/testing/api.md
  packages/qwik/src/testing/element-fixture.ts
  packages/qwik/src/testing/library.ts
  pnpm-lock.yaml
  starters/.gitignore
  starters/apps/e2e/src/components/resuming/sync-qrl.tsx
  starters/apps/e2e/src/entry.ssr.tsx
  starters/e2e/e2e.sync-qrl.spec.ts
Labels: TYPE: enhancement, COMP: runtime

#5573 fix(qwik-insights): fix up create application form
  packages/insights/src/routes/app/add/index.tsx
Labels: STATUS-2: PR waiting for review, COMP: insights

#5609 refactor(insights): improve consistency
  packages/insights/src/routes/api/v1/[publicApiKey]/post/index.tsx
Labels: STATUS-2: waiting for an answer, COMP: insights

#5591 docs: improve eslint loader msg + add cookbook example
  packages/docs/src/routes/demo/cookbook/re-exporting-loaders/index.tsx
  packages/docs/src/routes/demo/cookbook/re-exporting-loaders/shared/loaders.ts
  packages/docs/src/routes/demo/cookbook/re-exporting-loaders/third-party/index.tsx
  packages/docs/src/routes/demo/cookbook/re-exporting-loaders/third-party/third-party-library.tsx
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/cookbook/re-exporting-loaders/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/eslint-plugin-qwik/src/loaderLocation.ts
  packages/qwik-city/runtime/src/server-functions.ts
Labels: COMP: docs, COMP: eslint, STATUS-2: PR waiting for review

#5605 docs: add Node Docker deploy example
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/cookbook/node-docker-deploy/index.mdx
  packages/docs/src/routes/docs/deployments/node/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs, STATUS-2: waiting for an answer

#5648 fix: remove unnecessary whitespace when handling classes
  packages/qwik/src/core/render/execute-component.ts
  packages/qwik/src/core/render/execute-component.unit.ts
Labels: COMP: styling, STATUS-2: waiting for core
