Repository QwikDev/qwik, pull requests merged in 2023-11, with the labels that each got.

#5399 fix(insight): use relative path
  packages/qwik-labs/src-vite/insights/index.ts
Labels: COMP: insights

#5408 chore(starters): add VSCode debug setting
  packages/insights/package.json
  starters/apps/base/.vscode/launch.json
Labels: COMP: starters, COMP: chore

#5363 fix(propfunctionprops): prevent 'undefined', 'null', 'never' conversion to PropFnInterface
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik/src/core/api.md
  packages/qwik/src/core/component/component.public.ts
  packages/qwik/src/core/component/component.unit.tsx
Labels: STATUS-2: PR waiting for review, COMP: typing

#5426 feat(core): auto px addition to css properties for unitless numbers
  packages/qwik/src/core/render/dom/render.unit.tsx
  packages/qwik/src/core/render/execute-component.ts
  packages/qwik/src/core/util/unitless_number.ts
Labels: COMP: DX, STATUS-2: PR waiting for review

#5437 fix: Pass the missing props for Spinner component
  starters/features/bootstrap/src/routes/bootstrap/spinners/index.tsx
Labels: COMP: starters

#5429 docs: Add Component library `ionic-qwik` to community projects on docs.
  packages/docs/src/routes/community/projects/index.mdx
Labels: TYPE: enhancement, STATUS-2: PR waiting for review

#5424 chore(docs): advanced usage of Slot, visibleTask
  packages/docs/src/routes/docs/(qwik)/components/context/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/slots/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5433 chore(core): update `QwikKeyboardEvent` type
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik/src/core/api.md
  packages/qwik/src/core/render/jsx/types/jsx-qwik-events.ts
Labels: COMP: typing

#5450 fix(docs): remove `inline-code` and `link` in tag `<a />`
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs

#5459 docs(ssg): fix shell command
  packages/docs/src/routes/docs/(qwikcity)/guides/static-site-generation/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5462 docs(auth.js): add credentials example
  packages/docs/src/routes/api/qwik/index.md
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
Labels: COMP: docs, COMP: auth

#5455 feat: add qwik/no-use-visible-task eslint rule
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/index.mdx
  packages/eslint-plugin-qwik/index.ts
  packages/eslint-plugin-qwik/qwik.unit.ts
  packages/eslint-plugin-qwik/src/noUseVisibleTask.ts
Labels: COMP: eslint, STATUS-2: PR waiting for review

#5461 chore(insights): remove unnecessary log
  packages/qwik/src/optimizer/src/plugins/vite.ts
Labels: STATUS-2: PR waiting for review, COMP: insights

#5442 fix(core): Support JSX in signals
  .vscode/launch.json
  packages/qwik/src/core/container/render.unit.tsx
  packages/qwik/src/core/render/dom/notify-render.ts
  packages/qwik/src/core/render/dom/operations.ts
  packages/qwik/src/core/render/dom/render-dom.ts
  packages/qwik/src/core/render/dom/signals.ts
  packages/qwik/src/core/render/dom/visitor.ts
  packages/qwik/src/core/render/ssr/render-ssr.ts
  packages/qwik/src/core/state/common.ts
  packages/qwik/src/core/util/element.ts
  starters/apps/qwikcity-test/src/components/breadcrumbs/breadcrumbs.tsx
Labels: TYPE: enhancement

#5485 docs: make the distinction between module-prefetching and <Link prefetch>
  packages/docs/public/_redirects
  packages/docs/src/components/on-this-page/on-this-page.tsx
  packages/docs/src/routes/docs/(qwik)/advanced/modules-prefetching/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/speculative-module-fetching/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/routing/index.mdx
  packages/docs/src/routes/docs/integrations/astro/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#5484 docs(showcase): add `index.app` and `wiza.co`
  packages/docs/scripts/pages.json
Labels: TYPE: showcase

#5499 fix(docs): mdx interpreting title as component
  packages/docs/src/routes/docs/(qwikcity)/routing/index.mdx
Labels: COMP: docs

#5497 fix(qwik-city): prefix ids of SVGs based on their path when loaded as qwik nodes
  packages/qwik-city/buildtime/vite/image-jsx.ts
  packages/qwik-city/buildtime/vite/image-jsx.unit.ts
  packages/qwik-city/buildtime/vite/types.ts
Labels: COMP: qwik-city
