Repository QwikDev/qwik, pull requests merged in 2023-05, with the labels that each got.

#3860 Docs: The onSubmitCompleted$ handler
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
Labels: COMP: docs

#3912 fix(docs/code-sandbox): only scroll the pre to prevent title scroll
  packages/docs/src/components/code-sandbox/index.tsx
  packages/docs/src/routes/docs/docs.css
Labels: COMP: docs

#4004 docs: fix header positioning
  packages/docs/src/components/header/header.css
  packages/docs/vite.config.ts
Labels: COMP: docs

#4031 fix(cli): app name is a placeholder again
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#4063 docs: change state to count
  packages/docs/src/routes/docs/(qwikcity)/guides/react-cheat-sheet/index.mdx
Labels: COMP: docs

#4061 docs: fixed inline-components links in tutorial
  packages/docs/src/routes/tutorial/component/lite/index.mdx
Labels: COMP: docs

#4065 docs: extend mdx section with reading frontmatter
  packages/docs/src/routes/docs/(qwikcity)/guides/mdx/index.mdx
Labels: COMP: docs

#4076 feat(starter): empty starter project
  starters/apps/basic/package.json
  starters/apps/empty/package.json
  starters/apps/empty/public/favicon.svg
  starters/apps/empty/public/manifest.json
  starters/apps/empty/public/robots.txt
  starters/apps/empty/src/components/router-head/router-head.tsx
  starters/apps/empty/src/global.css
  starters/apps/empty/src/root.tsx
  starters/apps/empty/src/routes/index.tsx
  starters/apps/empty/src/routes/layout.tsx
  starters/apps/empty/src/routes/service-worker.ts
Labels: COMP: starters

#4072 docs: update tutorial after useStore is deep recursive by default
  packages/docs/src/routes/tutorial/store/recursive/index.mdx
  packages/docs/src/routes/tutorial/store/recursive/problem/app.tsx
  packages/docs/src/routes/tutorial/store/recursive/solution/app.tsx
Labels: COMP: docs

#4077 feat(qwik-city): export Qwik City RedirectMessage class
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/api.json
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/middleware/request-handler/index.ts
  packages/qwik-city/middleware/request-handler/redirect-handler.ts
Labels: COMP: qwik-city

#4236 docs: fix reactivity counter example to `useStore` so that description matches code
  packages/docs/src/routes/docs/(qwik)/concepts/reactivity/index.mdx
Labels: COMP: docs

#4251 fix: update cloudflare starter to use latest Wrangler
  starters/adapters/cloudflare-pages/package.json
Labels: COMP: starters

#4272 docs: menu sort order
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#4269 docs(guides/qwik-nutshell/index.mdx): fix typo on variable name
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-nutshell/index.mdx
Labels: COMP: docs

#2426 feat(cli): qwik new component | route
  .eslintignore
  packages/qwik/package.json
  packages/qwik/src/cli/add/update-files.ts
  packages/qwik/src/cli/new/print-new-help.ts
  packages/qwik/src/cli/new/run-new-command.ts
  packages/qwik/src/cli/run.ts
  packages/qwik/src/cli/types.ts
  packages/qwik/src/cli/utils/templates.ts
  packages/qwik/src/cli/utils/utils.ts
  scripts/create-qwik-cli.ts
  scripts/submodule-cli.ts
  scripts/validate-build.ts
  scripts/validate-cli.ts
  starters/templates/doc/component/[slug]/[slug].mdx.template
  starters/templates/qwik/component/[slug]/[slug].tsx.template
  starters/templates/qwik/route/[slug]/index.tsx.template
  starters/templates/vitest/component/[slug]/[slug].spec.tsx.template
Labels: COMP: starters

#4137 docs: eslint rules docs
  package.json
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/styles.css
  packages/docs/src/routes/docs/menu.md
  packages/eslint-plugin-qwik/examples.ts
  packages/eslint-plugin-qwik/src/jsxImg.ts
  packages/eslint-plugin-qwik/src/jsxKey.ts
  packages/eslint-plugin-qwik/src/jsxNoScriptUrl.ts
  packages/eslint-plugin-qwik/src/loaderLocation.ts
  packages/eslint-plugin-qwik/src/noReactProps.ts
  packages/eslint-plugin-qwik/src/preferClasslist.ts
  packages/eslint-plugin-qwik/src/unusedServer.ts
  packages/eslint-plugin-qwik/src/useMethodUsage.ts
  packages/eslint-plugin-qwik/src/validLexicalScope.ts
  scripts/eslint-docs.ts
  tsconfig.json
Labels: COMP: docs

#4280 docs: adjust eslint rules mobile view
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/styles.css
Labels: COMP: docs

#4306 Update qwik-nutshell/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-nutshell/index.mdx
Labels: COMP: docs

#4301 docs: remove ambiguity on "Composing Components"
  packages/docs/src/routes/tutorial/component/composition/index.mdx
Labels: COMP: docs

#4295 docs: add seifen.vercel.app to showcase
  packages/docs/scripts/pages.json
Labels: showcase

#4289 refactor(starters/apps/empty/src/global.css): remove redundant comment
  starters/apps/empty/src/global.css
Labels: COMP: starters

#4312 docs: yarn create does not support @latest
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#4298 Community: Qwik Uruguay - Argentina
  packages/docs/public/ecosystem/qwik-argentina.svg
  packages/docs/public/ecosystem/qwik-uruguay.svg
  packages/docs/src/routes/(ecosystem)/ecosystem.json
  packages/docs/src/routes/community/groups/index.mdx
Labels: COMP: docs

#4313 feat: add staleIfError option for request.cacheControl, also adds docs on caching and caching to starters
  packages/docs/src/routes/docs/(qwikcity)/caching/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/qwik-city/middleware/request-handler/cache-control.ts
  packages/qwik-city/middleware/request-handler/types.ts
  starters/apps/basic/src/routes/layout.tsx
  starters/apps/documentation-site/src/routes/layout.tsx
  starters/apps/empty/src/routes/layout.tsx
Labels: COMP: docs, COMP: qwik-city

#4322 docs: fix typo
  packages/docs/src/routes/tutorial/hooks/use-signal/index.mdx
Labels: COMP: docs

#4303 docs: improve language on 'Preventing default behavior'
  packages/docs/src/routes/tutorial/events/preventdefault/index.mdx
Labels: COMP: docs

#4233 docs: add udemy courses from manuelsanchez
  packages/docs/src/routes/(ecosystem)/media/index.tsx
Labels: COMP: docs

#4352 docs(bundle): fix some typos
  packages/docs/src/routes/docs/(qwikcity)/guides/bundle/index.mdx
Labels: COMP: docs

#4330 Add BuiltWithAppwrite to pages.json
  packages/docs/scripts/pages.json
Labels: showcase

#4276 docs: add SimplyMC to showcase
  packages/docs/scripts/pages.json
Labels: showcase

#4340 feat: media pages separated by language
  packages/docs/src/routes/(ecosystem)/ecosystem/index.tsx
  packages/docs/src/routes/(ecosystem)/media/index.tsx
  packages/docs/src/routes/(ecosystem)/media/media.css
Labels: COMP: docs

#4333 Import styles naming fixing
  packages/docs/src/routes/demo/getting-started/06-styling/index.tsx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#4357 docs: Add documentation and example for QwikIntrinsicElements
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik/src/core/api.md
  packages/qwik/src/core/render/jsx/types/jsx-qwik-elements.ts
Labels: COMP: docs
