Repository QwikDev/qwik, pull requests merged in 2023-10, with the labels that each got.

#5262 fix(starter): localize configuration
  starters/features/localize/src/entry.ssr.tsx
  starters/features/localize/src/routes/[locale]/i18n-utils.ts
Labels: COMP: starters

#5265 docs: fix typos
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/api/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/caching/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/endpoints/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-nutshell/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/react-cheat-sheet/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/server$/index.mdx
  packages/docs/src/routes/docs/cookbook/mediaController/index.mdx
  packages/docs/src/routes/docs/cookbook/portal/index.mdx
  packages/docs/src/routes/docs/deployments/cloudflare-pages/index.mdx
  packages/docs/src/routes/docs/deployments/gcp-cloud-run/index.mdx
  packages/docs/src/routes/docs/deployments/index.mdx
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/index.mdx
  packages/docs/src/routes/docs/integrations/leaflet-map/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  packages/docs/src/routes/docs/integrations/panda-css/index.mdx
  packages/docs/src/routes/docs/integrations/partytown/index.mdx
  packages/docs/src/routes/docs/integrations/prisma/index.mdx
  packages/docs/src/routes/docs/integrations/react/index.mdx
  packages/docs/src/routes/docs/integrations/storybook/index.mdx
  packages/docs/src/routes/docs/integrations/styled-vanilla-extract/index.mdx
  packages/docs/src/routes/docs/integrations/supabase/index.mdx
  packages/docs/src/routes/docs/integrations/tailwind/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5252 docs(integrations): add valibot to modular forms guide
  packages/docs/package.json
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/events/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
  packages/docs/src/routes/docs/cookbook/mediaController/index.mdx
  packages/docs/src/routes/docs/cookbook/portal/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  pnpm-lock.yaml
Labels: COMP: docs, STATUS-2: PR waiting for review

#5267 fix: A bug fix #5104
  packages/qwik/src/cli/build/run-build-command.ts
Labels: STATUS-2: PR waiting for review, COMP: chore

#5250 docs(state): Add 'key' prop to list items
  packages/docs/src/routes/docs/(qwik)/components/state/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5264 docs: add note about `onRequest` middleware exported from `serverAuth$`
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5273 docs: updated phrasing for clarity
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs

#5237 fix: Pr local dev docker
  .devcontainer/Dockerfile
  CONTRIBUTING.md
Labels: STATUS-2: PR waiting for review, COMP: chore

#5287 docs(localization): auto-translation
  packages/docs/src/routes/docs/integrations/i18n/index.mdx
Labels: COMP: docs

#5255 docs(cookbook): Add dark theme description
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/cookbook/theme-management/index.mdx
Labels: COMP: docs, STATUS-2: waiting for an answer

#5296 docs: fix contributor name
  packages/docs/src/routes/docs/cookbook/theme-management/index.mdx
Labels: COMP: docs

#5317 docs: add qwik-morocco community image
  packages/docs/public/ecosystem/qwik-morocco.svg
Labels: COMP: docs

#5314 docs: add moroccan meetup group
  packages/docs/src/routes/community/groups/index.mdx
Labels: COMP: docs

#5316 docs: update authjs
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
Labels: COMP: starters

#4749 feat(qwik-core): expose isSignal helper function
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik/src/core/api.md
  packages/qwik/src/core/index.ts
  packages/qwik/src/core/state/signal.ts
Labels: COMP: DX, STATUS-2: waiting for core

#5324 docs: fix syntax error in mdx tags example
  packages/docs/src/routes/docs/(qwikcity)/guides/mdx/index.mdx
Labels: COMP: docs

#5330 fix: Bump pandacss version to a Qwik compatible one
  starters/features/pandacss/package.json
Labels: COMP: starters

#4361 fix(vercel): [vercel-edge adapter] allow to use the `node` target
  packages/docs/src/routes/api/qwik-city-vite-vercel/api.json
  packages/docs/src/routes/api/qwik-city-vite-vercel/index.md
  packages/qwik-city/adapters/vercel-edge/api.md
  packages/qwik-city/adapters/vercel-edge/vite/index.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core

#5312 refactor(optimizer): remove using resolvePackageData API from Vite
  packages/qwik/package.json
  packages/qwik/src/optimizer/src/plugins/vite.ts
  pnpm-lock.yaml
  scripts/submodule-optimizer.ts
  scripts/submodule-server.ts
  scripts/util.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core

#5335 feat: add outDir support to qwikInsights
  packages/qwik-city/adapters/vercel-edge/vite/index.ts
  packages/qwik-labs/src-vite/insights/index.ts
Labels: STATUS-2: PR waiting for review, COMP: insights

#5345 chore(docs): remove warnings
  packages/docs/src/components/code-sandbox/index.tsx
  packages/docs/src/components/docsearch/doc-search.tsx
  packages/docs/src/components/docsearch/search-box.tsx
  packages/docs/src/components/router-head/router-head.tsx
  packages/docs/src/components/sidebar/sidebar.tsx
  packages/docs/src/routes/docs/layout.tsx
Labels: COMP: docs

#5340 style(eslint): convey a stricter restriction from `just` to `only` (examples)
  packages/eslint-plugin-qwik/src/useMethodUsage.ts
Labels: COMP: eslint

#5339 fix(cli): parseTemplatePath doesn't work in windows
  packages/qwik/src/cli/utils/templates.ts
Labels: TYPE: bug, COMP: starters, STATUS-2: PR waiting for review

#5353 fix(qwik-city): parseBody should not clone Request
  packages/qwik-city/middleware/request-handler/request-event.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#5344 docs(eslint-rules): refactor use-method-usage to reflect current qwik…
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/index.mdx
  packages/eslint-plugin-qwik/qwik.unit.ts
  packages/eslint-plugin-qwik/src/jsxKey.ts
  packages/eslint-plugin-qwik/src/loaderLocation.ts
  packages/eslint-plugin-qwik/src/noReactProps.ts
  packages/eslint-plugin-qwik/src/preferClasslist.ts
  packages/eslint-plugin-qwik/src/unusedServer.ts
  packages/eslint-plugin-qwik/src/useMethodUsage.ts
  packages/eslint-plugin-qwik/src/validLexicalScope.ts
Labels: COMP: docs, COMP: eslint, STATUS-2: PR waiting for review

#5042 fix: Yarn 3/4 PnP compatibility
  packages/qwik-city/package.json
  packages/qwik/package.json
  pnpm-lock.yaml
  scripts/validate-build.ts
Labels: STATUS-2: PR waiting for review, COMP: chore
