Repository QwikDev/qwik, pull requests merged in 2023-08, with the labels that each got.

#4891 docs(component): fix blog menu icon in ecosystem
  packages/docs/src/routes/(ecosystem)/ecosystem/menu-items.tsx
Labels: COMP: docs

#4883 docs: fix useresource$ url
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs

#4717 docs: add ru videos Qwik index.tsx
  packages/docs/src/routes/(ecosystem)/media/index.tsx
Labels: COMP: docs

#4630 docs: fixing typos
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/endpoints/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
Labels: COMP: docs

#4911 docs: correct code example (modular-forms integration)
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
Labels: COMP: docs

#4916 docs: several fixes
  packages/docs/src/routes/(ecosystem)/media/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs

#4925 docs: update link to react docs
  packages/docs/src/routes/docs/integrations/react/index.mdx
Labels: COMP: docs

#4928 docs: Add modal cookbook example.
  packages/docs/src/routes/demo/cookbook/modal/index.tsx
  packages/docs/src/routes/demo/cookbook/modal/layout.tsx
  packages/docs/src/routes/demo/cookbook/modal/popup-example.css
  packages/docs/src/routes/demo/cookbook/modal/popup-manager.css
  packages/docs/src/routes/demo/cookbook/modal/popup-manager.tsx
  packages/docs/src/routes/demo/integration/img/qwik-image/index.tsx
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/endpoints/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/cookbook/modal/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/qwik/src/core/platform/types.ts
Labels: COMP: docs

#4953 Typo in FAQ
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
Labels: COMP: docs, STATUS-2: waiting for an answer

#4958 fix(docs): add overview link
  packages/docs/src/routes/docs/cookbook/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#4951 Towards personalized SSG
  packages/docs/src/routes/docs/(qwikcity)/guides/static-site-generation/index.mdx
Labels: COMP: docs, TYPE: enhancement, STATUS-2: waiting for core

#4936 fix(qwik-auth): remove qaction param from defaultCallbackUrl
  packages/qwik-auth/src/index.ts
Labels: COMP: auth

#4967 fix(qwik-city): cleanup matchRouteRequest
  packages/qwik-city/buildtime/runtime-generation/generate-routes.ts
  packages/qwik-city/buildtime/vite/dev-server.ts
Labels: STATUS-2: waiting for an answer, COMP: qwik-city

#4960 fix(auth): Cookies get updated if session returns Updated Cookies
  packages/qwik-auth/src/index.ts
Labels: COMP: auth, STATUS-2: PR waiting for review

#4957 cli(library): fix release script
  starters/apps/library/package.json
Labels: STATUS-2: waiting for an answer, COMP: starters

#4970 docs: Improved media, fixed height thumbnails
  packages/docs/src/routes/(ecosystem)/media/index.tsx
  packages/docs/src/routes/(ecosystem)/media/media.css
Labels: COMP: docs, STATUS-2: waiting for an answer

#3230 feat(qwik-city): Adding Script Tag to Head Tag via DocumentHead
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik-city/buildtime/markdown/frontmatter.ts
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/head.ts
  packages/qwik-city/runtime/src/index.ts
  packages/qwik-city/runtime/src/qwik-city-component.tsx
  packages/qwik-city/runtime/src/types.ts
  packages/qwik/src/core/api.md
  packages/qwik/src/core/index.ts
  starters/apps/basic/src/components/router-head/router-head.tsx
  starters/apps/qwikcity-test/src/components/router-head/router-head.tsx
Labels: COMP: qwik-city

#4915 fix: fix cookie parsing to allow invalid uri encoding
  packages/qwik-city/middleware/request-handler/cookie.ts
  packages/qwik-city/middleware/request-handler/cookie.unit.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#4971 feat(insights): manage routes and timeline metrics
  packages/insights/drizzle/0011_thin_captain_stacy.sql
  packages/insights/drizzle/meta/0011_snapshot.json
  packages/insights/drizzle/meta/_journal.json
  packages/insights/src/db/query-helpers.ts
  packages/insights/src/db/query.ts
  packages/insights/src/db/schema.ts
  packages/insights/src/routes/api/v1/[publicApiKey]/post/index.tsx
  packages/insights/src/stats/vector.ts
  packages/insights/src/stats/vector.unit.ts
  packages/qwik-labs/src/insights/index.tsx
Labels: STATUS-2: waiting for an answer, COMP: qwik-city

#4634 feat: complex form data
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/complex-forms/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/qwik-city/middleware/request-handler/request-event.ts
  starters/apps/qwikcity-test/src/routes/(common)/actions/issue3183/index.tsx
  starters/e2e/qwikcity/actions.spec.ts
  tsconfig.json
Labels: TYPE: enhancement

#4968 docs(portals): update the portal cookbook example
  packages/docs/src/routes/demo/cookbook/modal/index.tsx
  packages/docs/src/routes/demo/cookbook/modal/layout.tsx
  packages/docs/src/routes/demo/cookbook/modal/popup-manager.tsx
  packages/docs/src/routes/demo/cookbook/portal/index.tsx
  packages/docs/src/routes/demo/cookbook/portal/layout.tsx
  packages/docs/src/routes/demo/cookbook/portal/popup-example.css
  packages/docs/src/routes/demo/cookbook/portal/portal-provider.css
  packages/docs/src/routes/demo/cookbook/portal/portal-provider.tsx
  packages/docs/src/routes/docs/cookbook/modal/index.mdx
  packages/docs/src/routes/docs/cookbook/portal/index.mdx
  packages/docs/src/routes/docs/menu.md
  pnpm-lock.yaml
Labels: COMP: docs, STATUS-2: waiting for core

#4955 cli: Add new Markdown route command
  packages/qwik/src/cli/new/run-new-command.ts
  packages/qwik/src/cli/new/utils.ts
  packages/qwik/src/cli/types.ts
  packages/qwik/src/cli/utils/templates.ts
  starters/templates/qwik/markdown/index.md.template
  starters/templates/qwik/mdx/index.mdx.template
Labels: COMP: DX, STATUS-2: PR waiting for review

#4241 docs: update Prisma limitations
  packages/docs/src/routes/docs/integrations/prisma/index.mdx
Labels: COMP: docs, COMP: starters, STATUS-2: PR waiting for review

#4993 docs: Vercel environment variables
  packages/docs/src/routes/docs/deployments/vercel-edge/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#4932 refactor(create-qwik): add yargs in create-qwik for better DX
  packages/create-qwik/create-app.ts
  packages/create-qwik/index.ts
  packages/create-qwik/package.json
  packages/create-qwik/src/create-app-facade.ts
  packages/create-qwik/src/create-app.ts
  packages/create-qwik/src/helpers/clearDir.ts
  packages/create-qwik/src/helpers/installDepsCli.ts
  packages/create-qwik/src/helpers/jokes.json
  packages/create-qwik/src/helpers/jokes.ts
  packages/create-qwik/src/helpers/logAppCreated.ts
  packages/create-qwik/src/helpers/resolveRelativeDir.ts
  packages/create-qwik/src/helpers/templateManager.ts
  packages/create-qwik/src/run-create-cli.ts
  packages/create-qwik/src/run-create-interactive-cli.ts
  packages/create-qwik/src/types.ts
  packages/qwik/src/cli/joke/run-joke-command.ts
  packages/qwik/src/cli/types.ts
  pnpm-lock.yaml
  scripts/validate-cli.ts
Labels: TYPE: enhancement, COMP: DX, STATUS-2: PR waiting for review

#4778 feat(adapter): firebase adapter
  packages/docs/public/ecosystem/firebase.svg
  packages/docs/src/routes/(ecosystem)/ecosystem.json
  packages/docs/src/routes/api/index.tsx
  packages/docs/src/routes/api/qwik-city-middleware-firebase/api.json
  packages/docs/src/routes/api/qwik-city-middleware-firebase/index.md
  packages/docs/src/routes/docs/deployments/firebase/index.mdx
  packages/qwik-city/middleware/firebase/api-extractor.json
  packages/qwik-city/middleware/firebase/api.md
  packages/qwik-city/middleware/firebase/index.ts
  scripts/api.ts
  scripts/qwik-city.ts
  starters/adapters/firebase/.eslintignore
  starters/adapters/firebase/.prettierignore
  starters/adapters/firebase/adapters/firebase/vite.config.ts
  starters/adapters/firebase/firebase.json
  starters/adapters/firebase/functions/.gitkeep
  starters/adapters/firebase/functions/index.js
  starters/adapters/firebase/functions/package.json
  starters/adapters/firebase/gitignore
  starters/adapters/firebase/package.json
  starters/adapters/firebase/src/entry-firebase.tsx
Labels: COMP: starters, STATUS-2: PR waiting for review

#4917 fix: Link component `reload` functionality
  packages/qwik-city/runtime/src/link-component.tsx
  packages/qwik-city/runtime/src/utils.ts
  starters/apps/qwikcity-test/src/routes/issue4792/index.tsx
  starters/e2e/qwikcity/nav.spec.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#4961 docs(qwikcity): html attributes docs page
  .vscode/extensions.json
  CONTRIBUTING.md
  packages/docs/src/routes/docs/(qwik)/advanced/containers/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/html-attributes/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs, STATUS-2: PR waiting for review

#4912 feat(qwik-city): add a way to get server-side env vars from `onStaticGenerate`
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/api.json
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/docs/(qwikcity)/guides/static-site-generation/index.mdx
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/middleware/request-handler/index.ts
  packages/qwik-city/middleware/request-handler/types.ts
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/types.ts
  packages/qwik-city/static/main-thread.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core

#4900 fix(eslint): allow eslint to accept FunctionComponent inside lexical scopes
  package.json
  packages/eslint-plugin-qwik/qwik.unit.ts
  packages/eslint-plugin-qwik/src/validLexicalScope.ts
Labels: COMP: eslint, STATUS-2: PR waiting for review

#4941 refactor(cloudflare-pages): allow PlatformCloudflarePages.env to be undefined
  packages/docs/src/routes/api/qwik-city-middleware-cloudflare-pages/api.json
  packages/docs/src/routes/api/qwik-city-middleware-cloudflare-pages/index.md
  packages/qwik-city/middleware/cloudflare-pages/api.md
  packages/qwik-city/middleware/cloudflare-pages/index.ts
Labels: COMP: starters, STATUS-2: PR waiting for review

#4999 docs: dynamic alt image
  packages/docs/src/routes/(ecosystem)/media/index.tsx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5002 docs: add responsive image recipe
  packages/docs/public/docs/integrations/image-optimization/image-network.png
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5000 docs: community project update image url
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5004 fix(qwik-city): enable matching route and pathname with an optional t…
  packages/qwik-city/runtime/src/route-matcher.ts
  packages/qwik-city/runtime/src/route-matcher.unit.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core

#4983 fix: add options to qwik vite plugin
  packages/docs/src/routes/docs/(qwik)/advanced/vite/index.mdx
  packages/qwik/src/optimizer/src/plugins/plugin.ts
  packages/qwik/src/optimizer/src/plugins/plugin.unit.ts
  packages/qwik/src/optimizer/src/plugins/vite.ts
Labels: STATUS-2: waiting for core, COMP: chore

#5022 fix: docs/cookbook/index.mdx link to portal page
  packages/docs/src/routes/docs/cookbook/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5026 insights: add existsSync check
  packages/qwik/src/optimizer/src/plugins/vite.ts
Labels: STATUS-2: PR waiting for review, COMP: insights

#5024 chore(insights): correct DB migration script
  packages/insights/drizzle/0012_omniscient_leader.sql
  packages/insights/package.json
  packages/insights/src/db/query-helpers.ts
  packages/insights/src/db/query.ts
  packages/insights/src/db/schema.ts
  packages/insights/src/db/sql-edges.ts
  packages/insights/src/db/sql-manifest.ts
  packages/insights/src/routes.gen.d.ts
  packages/insights/src/routes/app/[publicApiKey]/errors/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/manifests/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/symbols/bundles/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/symbols/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/symbols/outgoing/index.tsx
  packages/insights/src/routes/app/[publicApiKey]/symbols/slow/index.tsx
  packages/insights/src/routes/app/index.tsx
  packages/insights/vite.config.ts
  pnpm-lock.yaml
Labels: COMP: insights

#4905 style(pnpm-lock.yaml): synchronize lockfile version with version of pnpm in use
  package.json
  packages/docs/package.json
Labels: STATUS-2: PR waiting for review, COMP: chore

#5025 fix(starter): missing key attrib on `routerHead` component on `1.2.9`
  starters/apps/basic/src/components/router-head/router-head.tsx
Labels: TYPE: bug, COMP: starters, STATUS-2: PR waiting for review

#5037 Add useId() docs and demo component
  packages/docs/src/routes/demo/component/useId/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#4748 chore: array index can be typed as number
  packages/qwik/src/core/container/resume.ts
  packages/qwik/src/core/container/serializers.ts
Labels: STATUS-2: PR waiting for review, COMP: typing

#5036 Modular Forms: Fix incorrect type in example
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
Labels: COMP: docs, STATUS-2: waiting for an answer

#5033 docs: add docs about server$ middleware
  packages/docs/src/routes/docs/(qwikcity)/server$/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#4256 feat: add jsx-a eslint rule
  packages/eslint-plugin-qwik/index.ts
  packages/eslint-plugin-qwik/qwik.unit.ts
  packages/eslint-plugin-qwik/src/jsxAtag.ts
Labels: COMP: eslint, STATUS-2: PR waiting for review

#4878 docs: Adding Example for useOnWindow
  packages/docs/src/routes/demo/events/use-on/use-on-window/index.tsx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5041 chore: supabase-auth-helpers-qwik: update devDependencies
  packages/supabase-auth-helpers-qwik/package.json
  pnpm-lock.yaml
Labels: COMP: auth, STATUS-2: PR waiting for review

#5034 fix: action type
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/index.ts
  packages/qwik-city/runtime/src/types.ts
  starters/apps/qwikcity-test/src/routes/(common)/actions/validated/index.tsx
Labels: STATUS-2: waiting for core, COMP: typing

#5012 fix: align `function` and `()=>` behavior for JSX transpilation
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__example_mutable_children.snap
  packages/qwik/src/optimizer/core/src/snapshots/qwik_core__test__issue_5008.snap
  packages/qwik/src/optimizer/core/src/test.rs
  packages/qwik/src/optimizer/core/src/transform.rs
Labels: STATUS-2: waiting for core

#5013 fix(core): correctly handle serialization of Signal of X and naked X
  packages/qwik/src/core/container/pause.ts
  starters/apps/e2e/src/components/signals/Issue_5001.tsx
  starters/apps/e2e/src/entry.ssr.tsx
  starters/apps/e2e/src/root.tsx
  starters/e2e/e2e.signals.spec.ts
Labels: STATUS-2: waiting for core

#5051 fix: QwikInsights path resolution
  packages/insights/vite.config.ts
  packages/qwik-labs/src-vite/insights/index.ts
  packages/qwik/src/optimizer/src/plugins/vite.ts
Labels: STATUS-2: PR waiting for review, COMP: insights

#5055 docs: add qwikInsights vite plugin
  packages/docs/vite.config.ts
Labels: COMP: docs, COMP: chore

#5057 docs: change @builder.io/qwik-labs version
  packages/docs/package.json
  pnpm-lock.yaml
Labels: COMP: docs, COMP: chore

#5059 docs: add prettier as devDependencies
  packages/docs/package.json
  pnpm-lock.yaml
Labels: COMP: docs, COMP: chore

#5060 chore: fix .nvmrc with the right version
  .nvmrc
Labels: COMP: docs, STATUS-2: PR waiting for review, COMP: chore

#5063 docs: Document Relative URLs in Loaders
  packages/docs/src/routes/demo/component/relativeUrl/index.tsx
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5062 fix: loader type
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/types.ts
  starters/apps/qwikcity-test/src/routes/(common)/loaders/issue3979/index.tsx
Labels: STATUS-2: waiting for core, STATUS-2: PR waiting for review, COMP: typing
