Repository QwikDev/qwik, pull requests merged in 2023-02, with the labels that each got.

#2981 docs: removed `.use()` from `loader$`
  packages/docs/src/routes/qwikcity/loader/index.mdx
Labels: COMP: docs

#2989 refactor(create-qwik): enhanced create qwik cli
  packages/create-qwik/create-app.ts
  packages/create-qwik/create-interactive.ts
  packages/create-qwik/index.ts
  packages/create-qwik/package.json
  packages/qwik/src/cli/utils/install-deps.ts
  packages/qwik/src/cli/utils/log.ts
  pnpm-lock.yaml
Labels: DX

#2963 Docs(pages.json): add new site to showcase room
  packages/docs/scripts/pages.json
Labels: COMP: docs

#3014 docs: Improve link nested-layout
  packages/docs/src/routes/qwikcity/routing/index.mdx
Labels: COMP: docs

#2968 docs: add specific type to Context example
  packages/docs/src/routes/docs/components/context/index.mdx
Labels: COMP: docs

#3036 fix: fixed a broken gitignore file negation pattern in basic starter app
  starters/apps/base/gitignore
Labels: COMP: starters

#3047 typo: non -> not
  packages/docs/src/routes/docs/components/lifecycle/index.mdx
Labels: COMP: docs

#3049 changed useClientEffect$ -> useBrowserVisibleTask$
  packages/docs/src/routes/docs/components/lifecycle/index.mdx
Labels: COMP: docs

#3033 docs(contributing.md): updated the vscode extension name for containers
  CONTRIBUTING.md
Labels: COMP: docs

#3041 docs(docs/src/routes/examples/[...id]/examples.css): fix scrolling an…
  packages/docs/src/routes/examples/[...id]/examples.css
Labels: COMP: docs

#3038 docs: Fix the href link - Cloudflare Page's function-invocation-routes config
  packages/docs/README.md
  packages/docs/src/routes/integrations/deployments/cloudflare-pages/index.mdx
  packages/qwik-city/adapters/cloudflare-pages/vite/index.ts
  starters/adapters/cloudflare-pages/README.md
Labels: COMP: docs

#3065 docs: rename useClientEffect to useBrowserVisibleTask task and adjusted Links
  packages/docs/src/routes/docs/components/overview/index.mdx
Labels: COMP: docs

#3060 docs: update vite docs
  packages/docs/src/routes/docs/advanced/vite/index.mdx
Labels: COMP: docs

#3055 style: render basic starter "buttons" without layout shift on hover
  starters/apps/basic/src/global.css
Labels: COMP: starters

#3050 Add keyboardz to Qwik showcases
  packages/docs/scripts/pages.json
Labels: showcase

#3067 fix(cli): ensure default projectName
  packages/create-qwik/create-interactive.ts
Labels: COMP: qwik-city

#3059 docs: renamed cookies to cookie
  packages/docs/src/routes/qwikcity/endpoints/index.mdx
  packages/docs/src/routes/qwikcity/loader/index.mdx
Labels: COMP: docs

#3064 Add Travelcalc to showcase
  packages/docs/scripts/pages.json
Labels: showcase

#2629 fix: should replace @builder.io/qwik with a path relative to dist when dts bundling
  packages/qwik/src/server/server-modules.d.ts
  scripts/api.ts
Labels: DX

#3093 fix: basePathname set by vite config
  packages/qwik-city/buildtime/context.ts
  packages/qwik-city/buildtime/markdown/markdown-url.unit.ts
  packages/qwik-city/buildtime/routing/resolve-source-file.unit.ts
  packages/qwik-city/buildtime/types.ts
  packages/qwik-city/buildtime/vite/api.md
  packages/qwik-city/buildtime/vite/plugin.ts
  packages/qwik-city/buildtime/vite/types.ts
  packages/qwik-city/middleware/request-handler/request-event.ts
  packages/qwik-city/middleware/request-handler/resolve-request-handlers.ts
  packages/qwik-city/middleware/request-handler/response-page.ts
  packages/qwik-city/utils/fs.unit.ts
  packages/qwik-city/utils/test-suite.ts
  starters/dev-server.ts
Labels: COMP: qwik-city

#3100 doc: refactor useClientEffect$ to useBrowserVisibleTask$
  packages/docs/src/components/docsearch/doc-search-modal.tsx
  packages/docs/src/components/docsearch/search-box.tsx
  packages/docs/src/components/header/header.tsx
  packages/docs/src/repl/editor.tsx
  packages/docs/src/repl/repl.tsx
  packages/docs/src/routes/docs/cheat/best-practices/index.mdx
  packages/docs/src/routes/docs/cheat/qwik-react/index.mdx
  packages/docs/src/routes/playground/index!.tsx
  packages/docs/src/routes/tutorial/events/synchronous/index.mdx
  packages/docs/src/routes/tutorial/hooks/use-browser-visible-task/index.mdx
  packages/docs/src/routes/tutorial/hooks/use-browser-visible-task/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-browser-visible-task/problem/clock.css
  packages/docs/src/routes/tutorial/hooks/use-browser-visible-task/solution/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-browser-visible-task/solution/clock.css
  packages/docs/src/routes/tutorial/hooks/use-client-effect/index.mdx
  packages/docs/src/routes/tutorial/hooks/use-signal/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-signal/solution/app.tsx
  packages/docs/src/routes/tutorial/tutorial-menu.json
Labels: COMP: docs

#3122 docs: adjust wording on qwik-city pages nested layout and head
  packages/docs/src/routes/qwikcity/pages/index.mdx
Labels: COMP: docs

#3148 chore: fix typo in DOMImplementation.js
  packages/qwik-dom/lib/DOMImplementation.js
Labels: COMP: docs

#3169 docs: remove empty pages from qwik-city
  packages/docs/src/routes/qwikcity/menu.md
Labels: COMP: docs

#3174 docs: removed typo
  packages/docs/src/routes/tutorial/hooks/use-signal/index.mdx
Labels: COMP: docs

#3180 chore(create-qwik): remove unnecessary eslint-disable no-console
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#3185 fix: CLI directory validation
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#3195 docs: remove `@latest` from yarn install cmd
  packages/docs/src/routes/docs/getting-started/index.mdx
Labels: COMP: docs

#3092 fix: q:key containing double quotes does not break elements on server side render
  packages/qwik/src/core/render/ssr/render-ssr.ts
  packages/qwik/src/core/render/ssr/render-ssr.unit.tsx
Labels: COMP: runtime
