Repository QwikDev/qwik, pull requests merged in 2023-09, with the labels that each got.

#5070 feat: i18n $localize starter
  packages/docs/src/routes/docs/integrations/i18n/index.mdx
  starters/features/builder.io/package.json
  starters/features/cypress/package.json
  starters/features/localize/package.json
  starters/features/localize/src/locales/message.en.json
  starters/features/localize/src/locales/message.it.json
  starters/features/localize/src/routes/[locale]/i18n-utils.ts
  starters/features/localize/src/routes/[locale]/index.tsx
  starters/features/localize/src/routes/[locale]/layout.tsx
  starters/features/partytown/package.json
  starters/features/storybook/package.json
Labels: COMP: docs, COMP: starters, STATUS-2: PR waiting for review

#5081 Enhance Media Controller Cookbook Recipe and fix fluid layout for smaller screens
  packages/docs/src/routes/demo/cookbook/mediaController/index.tsx
  packages/docs/src/routes/docs/cookbook/mediaController/index.mdx
Labels: COMP: docs

#2008 fix: library starter don't bundle dependencies
  starters/apps/library/vite.config.ts
Labels: COMP: starters, STATUS-2: PR waiting for review

#5090 Fixed typo in Docs > Integrations > Prisma
  packages/docs/src/routes/docs/integrations/prisma/index.mdx
Labels: COMP: docs

#4745 starter: Update deps and code of supabase auth helpers qwik pkg
  packages/supabase-auth-helpers-qwik/package.json
  packages/supabase-auth-helpers-qwik/src/utils/createSupabaseClient.ts
  packages/supabase-auth-helpers-qwik/src/utils/storageAdapter.ts
  pnpm-lock.yaml
Labels: COMP: auth, STATUS-2: PR waiting for review

#5098 docs: Image updates - Qwik City
  packages/docs/public/docs/qwikcity/routing-files.png
  packages/docs/public/docs/qwikcity/routing.png
  packages/docs/src/media/docs/qwikcity/routing-files.png
  packages/docs/src/routes/docs/(qwikcity)/qwikcity/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/routing/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5093 docs: update the basic projection tutorial
  packages/docs/src/routes/tutorial/projection/basic/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5095 docs: remove outdated props store tutorial
  packages/docs/src/routes/tutorial/props/store/index.mdx
  packages/docs/src/routes/tutorial/props/store/problem/app.tsx
  packages/docs/src/routes/tutorial/props/store/solution/app.tsx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5106 fix: remove missing tutorial (#5105)
  packages/docs/src/routes/tutorial/tutorial-menu.json
Labels: COMP: docs

#5103 chore: release qwik-auth 0.1.1
  packages/qwik-auth/package.json
  pnpm-lock.yaml
  starters/features/auth/package.json
Labels: COMP: starters, COMP: auth

#5091 docs: update reactivity's counter example
  packages/docs/src/routes/docs/(qwik)/concepts/reactivity/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5089 feat(optimizer): add qwikVite configuration option optimizerOptions.inlineStylesUpToBytes
  packages/docs/src/routes/api/qwik-optimizer/api.json
  packages/docs/src/routes/api/qwik-optimizer/index.md
  packages/qwik/src/optimizer/src/api.md
  packages/qwik/src/optimizer/src/plugins/plugin.ts
  packages/qwik/src/optimizer/src/plugins/rollup.ts
  packages/qwik/src/optimizer/src/plugins/vite.ts
  packages/qwik/src/optimizer/src/types.ts
Labels: COMP: optimizer, STATUS-2: waiting for core

#5122 feat: Add route rewriting
  packages/docs/src/routes/docs/(qwikcity)/routing/index.mdx
  packages/qwik-city/buildtime/build-pages-rewrited.unit.ts
  packages/qwik-city/buildtime/build.ts
  packages/qwik-city/buildtime/markdown/markdown-url.unit.ts
  packages/qwik-city/buildtime/routing/resolve-source-file.unit.ts
  packages/qwik-city/buildtime/types.ts
  packages/qwik-city/utils/fs.unit.ts
  packages/qwik-city/utils/test-suite.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core, STATUS-2: PR waiting for review

#5118 feat(qrl): add resolved
  packages/qwik/src/core/api.md
  packages/qwik/src/core/qrl/qrl-class.ts
  packages/qwik/src/core/qrl/qrl.public.ts
  packages/qwik/src/core/qrl/qrl.unit.ts
  packages/qwik/src/core/readme.md
Labels: COMP: DX, STATUS-2: PR waiting for review

#5144 docs: improve descriptions for aws, azure and gcp integrations
  packages/docs/src/routes/docs/deployments/aws-lambda/index.mdx
  packages/docs/src/routes/docs/deployments/azure-swa/index.mdx
  packages/docs/src/routes/docs/deployments/gcp-cloud-run/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#4990 docs: interactive resumability Demo component to place on homepage
  packages/docs/src/routes/demo/cookbook/portal/portal-provider.tsx
  packages/docs/src/routes/demo/resumability/component.css
  packages/docs/src/routes/demo/resumability/component.tsx
  packages/docs/src/routes/demo/resumability/index.tsx
Labels: COMP: docs

#5147 docs: add routeAction$ caveat
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5152 chore(github-action): added semantic pr title check
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: STATUS-2: PR waiting for review, COMP: chore

#5153 fix(github-action): do not validate draft PRs
  .github/workflows/pr.yml
Labels: STATUS-2: PR waiting for review, COMP: chore

#5155 fix(github-action): do not validate draft PRs - revert
  .github/workflows/pr.yml
Labels: STATUS-2: PR waiting for review, COMP: chore

#5150 fix: Ignore blob URL on getting image info
  packages/qwik/src/optimizer/src/plugins/image-size-runtime.html
Labels: COMP: optimizer, STATUS-2: PR waiting for review

#5167 docs(qwik-city): correct the links to endpoints page
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
Labels: COMP: qwik-city

#5165 fix: Bun install
  README.md
  packages/create-qwik/src/helpers/jokes.json
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
  starters/apps/base/package.json
Labels: STATUS-2: PR waiting for review, COMP: chore

#5161 docs: use import .css?inline instead of .css
  packages/docs/src/repl/monaco.tsx
  packages/docs/src/repl/worker/app-bundle-client.ts
  packages/docs/src/repl/worker/repl-plugins.ts
  packages/docs/src/routes/examples/apps/visibility/clock/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-visible-task/solution/app.tsx
Labels: COMP: docs, STATUS-2: PR waiting for review

#5141 fix(core.d.ts): export HTMLAttributes and DevJSX to fix TS4023 issue …
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/qwik/src/core/api.md
  packages/qwik/src/core/index.ts
  packages/qwik/src/core/render/jsx/types/jsx-generated.ts
  packages/qwik/src/core/render/jsx/types/jsx-node.ts
Labels: STATUS-2: waiting for core, COMP: typing

#5163 fix: excludedPath defaults for netlify edge
  packages/docs/src/routes/api/qwik-city-vite-netlify-edge/api.json
  packages/docs/src/routes/api/qwik-city-vite-netlify-edge/index.md
  packages/qwik-city/adapters/netlify-edge/api.md
  packages/qwik-city/adapters/netlify-edge/vite/index.ts
Labels: COMP: starters, STATUS-2: PR waiting for review

#5182 feat(core): added symbol name to error
  packages/qwik/src/core/container/pause.ts
Labels: TYPE: enhancement, COMP: DX, STATUS-2: PR waiting for review

#5129 feat: Bun Adapter
  @types/bun.d.ts
  package.json
  packages/create-qwik/package.json
  packages/docs/public/ecosystem/bun.svg
  packages/docs/src/routes/(ecosystem)/ecosystem.json
  packages/docs/src/routes/api/qwik-city-vite-bun-server/api.json
  packages/docs/src/routes/api/qwik-city-vite-bun-server/index.md
  packages/docs/src/routes/api/qwik-optimizer/api.json
  packages/docs/src/routes/api/qwik-optimizer/index.md
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
  packages/docs/src/routes/docs/deployments/bun/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/qwik-city/adapters/bun-server/api.md
  packages/qwik-city/adapters/bun-server/vite/api-extractor.json
  packages/qwik-city/adapters/bun-server/vite/index.ts
  packages/qwik-city/middleware/bun/api-extractor.json
  packages/qwik-city/middleware/bun/api.md
  packages/qwik-city/middleware/bun/index.ts
  packages/qwik-city/package.json
  packages/qwik-city/static/index.ts
  packages/qwik/src/cli/add/run-add-interactive.ts
  packages/qwik/src/cli/utils/log.ts
  packages/qwik/src/cli/utils/utils.ts
  packages/qwik/src/optimizer/src/api.md
  packages/qwik/src/optimizer/src/platform.ts
  packages/qwik/src/optimizer/src/types.ts
  pnpm-lock.yaml
  scripts/api.ts
  scripts/qwik-city.ts
  starters/adapters/azure-swa/package.json
  starters/adapters/bun/README.md
  starters/adapters/bun/adapters/bun/vite.config.ts
  starters/adapters/bun/package.json
  starters/adapters/bun/src/entry.bun.ts
  starters/adapters/cloud-run/package.json
  starters/adapters/cloudflare-pages/package.json
  starters/adapters/deno/package.json
  starters/adapters/express/package.json
  starters/adapters/fastify/package.json
  starters/adapters/firebase/package.json
  starters/adapters/netlify-edge/package.json
  starters/adapters/node-server/package.json
  starters/adapters/static/package.json
  starters/adapters/vercel-edge/package.json
  tsconfig.json
Labels: COMP: starters, STATUS-2: PR waiting for review

#5172 fix(qwik-city): do not write into a destroyed stream
  packages/qwik-city/middleware/node/http.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#5193 fix(insights): wrapper style
  packages/insights/src/routes/app/styles.module.css
Labels: STATUS-2: PR waiting for review, COMP: insights

#5202 feat(cli): add barrel template to `new` command
  packages/docs/src/routes/docs/(qwikcity)/project-structure/index.mdx
  starters/templates/barrel/component/index.tsx.template
  starters/templates/barrel/markdown/index.md.template
  starters/templates/barrel/mdx/index.mdx.template
  starters/templates/barrel/route/index.tsx.template
Labels: COMP: starters, STATUS-2: PR waiting for review

#5200 docs: add `dimension.dev` to showcase
  packages/docs/scripts/pages.json
Labels: COMP: docs, STATUS-2: PR waiting for review

#5176 fix(core): Added StringSerializer for strings that start with the prefixes of serializers.
  packages/qwik/src/core/container/pause.ts
  packages/qwik/src/core/container/serializers.ts
Labels: COMP: runtime, STATUS-2: PR waiting for review

#5214 docs: add qwik-spin-delay library
  packages/docs/public/ecosystem/qwik-spin-delay.png
  packages/docs/src/routes/(ecosystem)/ecosystem.json
Labels: COMP: docs, STATUS-2: PR waiting for review

#5216 docs(ecosystem): add qwik-image library
  packages/docs/public/ecosystem/qwik-image-logo.png
  packages/docs/src/routes/(ecosystem)/ecosystem.json
Labels: COMP: docs, STATUS-2: PR waiting for review

#5226 feat(cachecontrol): add second `target` argument to cacheControl
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/api.json
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/docs/src/routes/docs/(qwikcity)/caching/index.mdx
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/middleware/request-handler/request-event.ts
  packages/qwik-city/middleware/request-handler/types.ts
Labels: COMP: qwik-city, STATUS-2: PR waiting for review

#5239 docs: Add frostytools.com to pages.json
  packages/docs/scripts/pages.json
Labels: COMP: docs

#5244 chore(contributing.md): remove unnecessary step to test against docs …
  CONTRIBUTING.md
Labels: COMP: docs

#5242 docs: Build Showcase
  packages/docs/public/showcases/builtwith_appwrite_io_.webp
  packages/docs/public/showcases/frostytools_com.webp
  packages/docs/public/showcases/getpolaris_ai_.webp
  packages/docs/public/showcases/itbusinesshub_com_.webp
  packages/docs/public/showcases/leonerd_blog.webp
  packages/docs/public/showcases/pay4me_app.webp
  packages/docs/public/showcases/qwik-meet_onrender_com_.webp
  packages/docs/public/showcases/qwik-osm-poc_netlify_app_.webp
  packages/docs/public/showcases/radixstream_com_.webp
  packages/docs/public/showcases/seifen_vercel_app_.webp
  packages/docs/public/showcases/simplymc_art_.webp
  packages/docs/public/showcases/ss-link_netlify_app_.webp
  packages/docs/public/showcases/www_anirbandas_in_.webp
  packages/docs/public/showcases/www_dimension_dev.webp
  packages/docs/public/showcases/www_expobeds_com_.webp
  packages/docs/public/showcases/www_hexa_center_.webp
  packages/docs/scripts/pages.json
  packages/docs/src/routes/(ecosystem)/showcase/generated-pages.json
Labels: COMP: docs, TYPE: showcase, STATUS-2: PR waiting for review

#5246 docs: documentation link and text for directory-based routing
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs, STATUS-2: PR waiting for review
