Repository QwikDev/qwik, pull requests merged in 2023-03, with the labels that each got.

#3205 fix: removed old hooks in warning
  packages/qwik/src/core/state/signal.ts
  packages/qwik/src/core/state/store.ts
Labels: COMP: runtime

#3225 fix(qwik-city): fix qinit event in RouterOutlet
  packages/qwik-city/runtime/src/router-outlet-component.ts
Labels: COMP: qwik-city

#3217 fix(docs): remove unused loader$ and replace deprecated createContext…
  packages/docs/src/context.ts
  packages/docs/src/routes/index.tsx
Labels: COMP: docs

#3210 docs: update "Directory-based routing" section example
  packages/docs/src/routes/qwikcity/routing/index.mdx
Labels: COMP: docs

#3226 refactor: stop using deprecated RouteLocation APIs
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/content-nav/content-nav.tsx
  packages/docs/src/components/header/header.tsx
  packages/docs/src/components/on-this-page/on-this-page.tsx
  packages/docs/src/components/router-head/router-head.tsx
  packages/docs/src/components/sidebar/sidebar.tsx
  packages/docs/src/routes/docs/cheat/best-practices/index.mdx
  packages/docs/src/routes/docs/layout!.tsx
  packages/docs/src/routes/qwikcity/advanced/menu/index.mdx
  packages/docs/src/routes/qwikcity/api/index.mdx
  packages/docs/src/routes/tutorial/layout!.tsx
  starters/apps/basic/src/routes/flower/index.tsx
  starters/apps/documentation-site/src/components/breadcrumbs/breadcrumbs.tsx
  starters/apps/documentation-site/src/components/header/header.tsx
  starters/apps/documentation-site/src/components/menu/menu.tsx
  starters/apps/documentation-site/src/components/on-this-page/on-this-page.tsx
  starters/apps/qwikcity-test/src/components/breadcrumbs/breadcrumbs.tsx
  starters/apps/qwikcity-test/src/components/content-nav/content-nav.tsx
  starters/apps/qwikcity-test/src/components/header/header.tsx
  starters/apps/qwikcity-test/src/components/menu/menu.tsx
  starters/apps/qwikcity-test/src/components/router-head/vendor.tsx
  starters/apps/qwikcity-test/src/routes/(common)/[country]/[city]/index.tsx
  starters/apps/qwikcity-test/src/routes/(common)/api/layout-api.tsx
  starters/apps/qwikcity-test/src/routes/(common)/products/[id]/index.tsx
  starters/apps/qwikcity-test/src/routes/docs/[category]/[id]/index.tsx
  starters/features/styled-vanilla-extract/src/routes/styled-flower/index.tsx
Labels: COMP: docs

#3235 docs: fix Newsletters section
  packages/docs/src/routes/community/components/social-logos/telegram-logo.tsx
  packages/docs/src/routes/community/groups/index.mdx
  packages/docs/src/routes/community/menu.md
Labels: COMP: docs

#3234 docs: Adds PostCSS to the integration menu
  packages/docs/src/routes/integrations/menu.md
Labels: COMP: docs

#3159 docs: updates State Page useStore option 'recursive' to 'deep'
  packages/docs/src/routes/docs/components/state/index.mdx
Labels: COMP: docs

#3239 docs: speculative module fetching
  packages/docs/public/_redirects
  packages/docs/src/routes/docs/advanced/prefetching/index.mdx
  packages/docs/src/routes/docs/faq/index.mdx
  packages/docs/src/routes/docs/menu.md
  packages/docs/src/routes/qwikcity/advanced/prefetching/index.mdx
  packages/docs/src/routes/qwikcity/advanced/speculative-module-fetching/index.mdx
  packages/docs/src/routes/qwikcity/menu.md
  packages/docs/src/routes/qwikcity/routing/index.mdx
  packages/qwik/src/server/api.md
  packages/qwik/src/server/prefetch-implementation.ts
  packages/qwik/src/server/types.ts
Labels: COMP: docs

#3237 docs(useLocation): extend docs with deeply nested child routes
  packages/docs/src/routes/qwikcity/api/index.mdx
  packages/docs/src/routes/qwikcity/routing/index.mdx
Labels: COMP: docs

#3051 docs: adjust `on this page` top position
  packages/docs/src/components/on-this-page/on-this-page.tsx
Labels: COMP: docs

#2746 docs: problem and solution on resource tutorial are no longer equal
  packages/docs/src/routes/tutorial/introduction/resource/problem/app.tsx
Labels: COMP: docs, question

#1866 docs: add aria/rel attributes to docs header
  starters/apps/basic/src/components/header/header.tsx
Labels: COMP: docs, COMP: starters

#3204 docs: update arguments for useSignal/useStore
  packages/docs/src/routes/docs/components/overview/index.mdx
Labels: COMP: docs

#3261 docs: `useStore` API param naming adjustment
  packages/docs/src/routes/docs/components/state/index.mdx
Labels: COMP: docs

#2954 docs: update routing file extensions
  packages/docs/src/routes/qwikcity/routing/index.mdx
Labels: COMP: docs

#3253 docs: Manage docs site footer in Builder
  packages/docs/src/components/builder-content/index.tsx
  packages/docs/src/components/footer/footer.tsx
  packages/docs/src/components/header/header.tsx
  packages/docs/src/constants.ts
  packages/docs/src/global.css
Labels: COMP: docs

#3246 refactor: qwik cli styling and enhancements
  package.json
  packages/create-qwik/create-interactive.ts
  packages/create-qwik/index.ts
  packages/qwik/src/cli/add/print-add-help.ts
  packages/qwik/src/cli/add/run-add-command.ts
  packages/qwik/src/cli/add/run-add-interactive.ts
  packages/qwik/src/cli/add/update-app.ts
  packages/qwik/src/cli/run.ts
  packages/qwik/src/cli/utils/install-deps.ts
  packages/qwik/src/cli/utils/integrations.ts
  packages/qwik/src/cli/utils/utils.ts
  pnpm-lock.yaml
Labels: refactor, DX

#3278 docs: Update ssg preview instructions
  packages/docs/src/routes/qwikcity/guides/static-site-generation/index.mdx
Labels: COMP: docs

#3280 docs: fix component link
  packages/docs/src/routes/docs/getting-started/index.mdx
Labels: COMP: docs

#3211 fix(doc-search): unable to prevent default
  packages/docs/src/components/docsearch/doc-search.tsx
Labels: COMP: docs

#3281 fix: partytown scripts not included in build
  starters/features/partytown/package.json
Labels: COMP: starters

#3276 fix: Set cookie headers on dev server
  packages/qwik-city/buildtime/vite/dev-server.ts
Labels: COMP: qwik-city

#3259 fix(ssr): match phrasing content validation to HTML spec
  packages/qwik/src/core/render/ssr/render-ssr.ts
  packages/qwik/src/core/render/ssr/render-ssr.unit.tsx
Labels: COMP: runtime

#3288 fix(doc-search): unable to prevent default - revert
  packages/docs/src/components/docsearch/doc-search.tsx
Labels: COMP: docs

#3279 docs: Cleanup mobile header styles
  packages/docs/src/components/header/header.css
  packages/docs/src/components/sidebar/sidebar.css
  packages/docs/src/components/svgs/qwik-logo.tsx
  packages/docs/src/global.css
Labels: COMP: docs

#3277 docs: Restructure docs nav a bit to focus the getting started path(s)
  packages/docs/src/routes/docs/menu.md
  packages/docs/src/routes/qwikcity/menu.md
Labels: COMP: docs

#3275 docs: update bullets on qwik components
  packages/docs/src/routes/docs/components/overview/index.mdx
  packages/docs/src/routes/docs/getting-started/index.mdx
Labels: COMP: docs

#3292 docs: removed duplicate info
  packages/docs/src/routes/docs/components/projection/index.mdx
Labels: COMP: docs

#3291 docs: Use correct variable name in onScroll function
  packages/docs/src/routes/docs/advanced/dollar/index.mdx
Labels: COMP: docs

#3289 chore: make statement smooth
  packages/qwik/src/qwikloader.ts
Labels: COMP: docs

#3290 fix(docs): replace useBrowserVisibleTask$ to useVisibleTask$
  packages/docs/src/components/docsearch/doc-search-modal.tsx
  packages/docs/src/components/docsearch/search-box.tsx
  packages/docs/src/components/header/header.tsx
  packages/docs/src/repl/editor.tsx
  packages/docs/src/repl/repl.tsx
  packages/docs/src/routes/examples/apps/visibility/clock/app.tsx
  packages/docs/src/routes/playground/index!.tsx
Labels: COMP: docs

#3299 docs(qwik): fix Typo from on:lick to on:click
  packages/qwik/src/core/qrl/qrl.public.ts
  packages/qwik/src/core/readme.md
Labels: COMP: docs

#3316 docs: fix missing arrow
  packages/docs/src/routes/integrations/integration/react/index.mdx
Labels: COMP: docs

#3302 docs: add missing import statement
  packages/docs/src/routes/docs/components/context/index.mdx
  packages/docs/src/routes/docs/components/events/index.mdx
  packages/docs/src/routes/docs/components/lifecycle/index.mdx
  packages/docs/src/routes/docs/components/lite-components/index.mdx
  packages/docs/src/routes/docs/components/overview/index.mdx
  packages/docs/src/routes/docs/components/projection/index.mdx
  packages/docs/src/routes/docs/components/rendering/index.mdx
  packages/docs/src/routes/docs/components/resource/index.mdx
  packages/docs/src/routes/docs/components/state/index.mdx
  packages/docs/src/routes/docs/components/styles/index.mdx
Labels: COMP: docs

#2806 docs: add Wope to showcase
  packages/docs/scripts/pages.json
Labels: question, showcase

#3322 fix(qwik): support https & override origin for dev server
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
Labels: COMP: optimizer

#2768 docs: Improve Lite Components
  packages/docs/src/routes/docs/components/lite-components/index.mdx
Labels: COMP: docs, docs-task-force

#3187 feat: expose cleanup from render function
  packages/qwik-dom/lib/ContainerNode.js
  packages/qwik/src/core/api.md
  packages/qwik/src/core/container/container.ts
  packages/qwik/src/core/index.ts
  packages/qwik/src/core/render/dom/render.public.ts
  packages/qwik/src/core/render/dom/render.unit.tsx
  packages/qwik/src/core/render/fast-calls.ts
  packages/qwik/src/testing/api.md
Labels: COMP: runtime

#3356 starter: reworked qwik city starter app
  starters/apps/basic/src/components/counter/counter.css
  starters/apps/basic/src/components/counter/counter.tsx
  starters/apps/basic/src/components/footer/footer.css
  starters/apps/basic/src/components/footer/footer.tsx
  starters/apps/basic/src/components/header/header.css
  starters/apps/basic/src/components/header/header.tsx
  starters/apps/basic/src/components/hero/hero.css
  starters/apps/basic/src/components/hero/hero.tsx
  starters/apps/basic/src/components/icons/qwik.tsx
  starters/apps/basic/src/components/infobox/infobox.css
  starters/apps/basic/src/components/infobox/infobox.tsx
  starters/apps/basic/src/components/router-head/router-head.tsx
  starters/apps/basic/src/components/starter/starter.css
  starters/apps/basic/src/components/starter/starter.tsx
  starters/apps/basic/src/global.css
  starters/apps/basic/src/root.tsx
  starters/apps/basic/src/routes/flower/index.tsx
  starters/apps/basic/src/routes/index.tsx
  starters/apps/basic/src/routes/layout.tsx
  starters/apps/basic/src/routes/service-worker.ts
  starters/apps/basic/src/routes/todolist/index.tsx
  starters/apps/basic/src/routes/todolist/todolist.css
Labels: COMP: starters, DX

#3388 docs: Improve deployment documentation for Azure SWA
  packages/docs/src/routes/integrations/deployments/azure-swa/index.mdx
Labels: COMP: docs

#3384 fix(docs): correct Youtube to YouTube
  packages/docs/src/routes/media/index.tsx
Labels: COMP: docs

#3392 starter(cli): re-add additional notes after integration install
  packages/qwik/src/cli/add/run-add-interactive.ts
  packages/qwik/src/cli/add/update-app.ts
  packages/qwik/src/cli/code-mod/code-mod.ts
  packages/qwik/src/cli/utils/log.ts
  starters/adapters/static/package.json
  starters/features/partytown/package.json
  starters/features/react/package.json
  starters/features/tailwind/package.json
Labels: COMP: starters

#3242 fix(qwik-auth): keep the trailing slash in the default callback url
  packages/qwik-auth/src/index.ts
Labels: COMP: auth

#3402 fix(docs): add missing import statement
  packages/docs/src/routes/qwikcity/pages/index.mdx
Labels: COMP: docs

#2818 feat(qwik): customize error overlay
  packages/qwik/package.json
  packages/qwik/src/optimizer/src/plugins/vite-error.ts
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
  pnpm-lock.yaml
Labels: DX

#3429 fix(cli): minore CLI adjustments
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#3443 fix(qwik-auth): use new actions/loaders
  packages/qwik-auth/src/index.ts
Labels: COMP: auth

#3450 feat(starters-todolist): Add validation to text
  starters/apps/basic/src/routes/demo/todolist/index.tsx
Labels: COMP: starters

#3327 docs(packages/docs/src/routes/community/projects/index.mdx): add new community section and item
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs, question

#3441 fix(azure-swa): SSR build should target Node.js environment
  starters/adapters/azure-swa/adapters/azure-swa/vite.config.ts
Labels: COMP: starters

#3473 fix: ecosystem page for mobile
  packages/docs/src/routes/(ecosystem)/ecosystem/index.tsx
Labels: COMP: docs

#3476 docs: Add Modular Forms to community projects on docs
  packages/docs/src/routes/community/projects/index.mdx
Labels: COMP: docs

#3516 docs: typos
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#3513 feat(qwik-auth): support credentials provider using useAuthSignin action
  packages/qwik-auth/src/index.ts
Labels: COMP: auth

#3514 docs: Node.js typos
  packages/docs/src/routes/deployments/node/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/vite/index.mdx
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
  packages/docs/src/routes/integrations/integration/overview/index.mdx
  packages/qwik/src/optimizer/src/platform.ts
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
  packages/qwik/src/optimizer/src/plugins/vite.ts
  scripts/index.ts
  scripts/package-json.ts
  scripts/submodule-optimizer.ts
  scripts/submodule-server.ts
  scripts/util.ts
  starters/apps/documentation-site/src/routes/index.tsx
Labels: COMP: docs

#3515 docs: update links
  packages/docs/src/routes/docs/(qwik)/cheat/best-practices/index.mdx
Labels: COMP: docs

#3543 docs: Fix broken links for "API" and "Qwik City & Routing" on "Welcome to Qwik" (Introduction) Page
  packages/docs/src/routes/docs/(qwik)/index.mdx
Labels: COMP: docs

#3550 docs: Make the introductoin to resources friendlier
  packages/docs/src/routes/docs/(qwik)/components/resource/index.mdx
Labels: COMP: docs

#2604 docs: blackflag.dev added to demo pages on docs site
  packages/docs/scripts/pages.json
Labels: showcase

#3549 docs: move qwik city into the qwik city section
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#3558 docs: Clean up Qwik City docs
  packages/docs/src/routes/docs/(qwikcity)/project-structure/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#3557 docs: Make the tutorial buttons more prominent
  packages/docs/src/global.css
Labels: COMP: docs

#3545 docs: qwik one pager
  packages/docs/public/_redirects
  packages/docs/src/routes/docs/(qwik)/components/context/index.mdx
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/request-handling/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/best-practices/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/one-pager/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-react/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/serialization/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#3582 docs: minor changes
  packages/docs/src/routes/docs/(qwik)/components/rendering/index.mdx
Labels: COMP: docs

#3585 docs: More real world examples for route loader
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
Labels: COMP: docs

#3587 fix: cli background install
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#3578 docs: misspelling fixes
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
Labels: COMP: docs

#3536 docs: Add upester to the Showcase
  packages/docs/scripts/pages.json
Labels: showcase

#3612 docs: browser window rebrush
  packages/docs/src/components/code-example/index.css
  packages/docs/src/components/code-example/index.tsx
Labels: COMP: docs

#3611 Pr docs cleanup
  packages/docs/adapters/cloudflare-pages/vite.config.ts
  packages/docs/src/routes/demo/api/add/index.tsx
  packages/docs/src/routes/demo/tasks/resource/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#3614 docs: add `edit` button to example browser
  packages/docs/src/components/code-example/index.css
  packages/docs/src/components/code-example/index.tsx
Labels: COMP: docs
