Repository QwikDev/qwik, pull requests merged in 2023-07, with the labels that each got.

#4632 docs(request-handling): cookie has method
  packages/docs/src/routes/docs/(qwikcity)/advanced/request-handling/index.mdx
Labels: COMP: docs

#4573 docs: fixed typo in labs index.mdx
  packages/docs/src/routes/docs/labs/index.mdx
Labels: COMP: docs

#4788 docs: add vDOM FAQ
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
Labels: COMP: docs

#4620 feat: add Orama integration
  packages/docs/src/routes/docs/integrations/orama/index.mdx
  packages/docs/src/routes/docs/menu.md
  starters/features/orama/package.json
  starters/features/orama/src/orama/index.ts
  starters/features/orama/src/routes/orama/index.tsx
Labels: COMP: starters

#4847 docs: some spaces in index.mdx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#4837 docs: update tutorial to use cleanup inside useTaskQRL
  packages/docs/src/routes/tutorial/hooks/use-task/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-task/solution/app.tsx
  packages/docs/src/routes/tutorial/reactivity/explicit/problem/app.tsx
  packages/docs/src/routes/tutorial/reactivity/explicit/solution/app.tsx
Labels: COMP: docs

#4825 docs: add aws logo
  packages/docs/public/ecosystem/aws.svg
  packages/docs/src/routes/(ecosystem)/ecosystem.json
Labels: COMP: docs

#4746 Fix endpoints link in middleware section
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
Labels: COMP: docs

#4839 Playground dictionary compression
  packages/docs/src/repl/repl-share-url.ts
  packages/docs/src/repl/repl-share-url.unit.ts
Labels: COMP: docs

#4846 click-to-component: release keys on alt+tab
  packages/qwik/src/optimizer/src/plugins/click-to-component.html
Labels: DX

#4860 docs: changed order of scripts in "Run in your own app" to match the …
  CONTRIBUTING.md
Labels: COMP: docs

#4855 docs: improve documentation for getting started guide
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#4750 docs(shop): get/set cookie with routeLoader$
  packages/docs/src/routes/(shop)/layout.tsx
  packages/docs/src/routes/(shop)/utils.ts
Labels: COMP: docs

#4885 docs: Typo in caching/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/caching/index.mdx
Labels: COMP: docs

#4866 docs: Update components/tasks note regarding useTask$
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs

#4865 docs: fix typos in advanced/routing/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/routing/index.mdx
Labels: COMP: docs

#4874 docs: add a new blog site powered by qwik
  packages/docs/scripts/pages.json
Labels: showcase

#4770 docs: add realmof.tech to the showcase
  packages/docs/scripts/pages.json
Labels: showcase

#4879 fix: fastify logging and 404 page loading issues
  starters/adapters/fastify/src/plugins/fastify-qwik.ts
Labels: COMP: starters
