Repository QwikDev/qwik, pull requests merged in 2023-04, with the labels that each got.

#3601 fix: Edit this Page
  packages/docs/src/components/on-this-page/on-this-page.tsx
Labels: COMP: docs

#3631 Improve definition of `useTask$`
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
Labels: COMP: docs

#3636 Fixed typo in README.md
  starters/apps/base/README.md
Labels: COMP: docs

#3619 docs: fix link typo
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
Labels: COMP: docs

#3617 docs: `useTask$` shouldn't appear in the section of 4. Modifying State
  packages/docs/src/routes/demo/getting-started/04-state/index.tsx
Labels: COMP: docs

#3661 docs: Replacing deprecated .run() method with .submit()
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
Labels: COMP: docs

#3662 docs(tutorial/events/synchronous): fix 404 on link to useVisibleTask$
  packages/docs/src/routes/tutorial/events/synchronous/index.mdx
Labels: COMP: docs

#3659 docs: Fixed QRL link
  packages/docs/src/routes/docs/(qwik)/components/events/index.mdx
Labels: COMP: docs

#3651 docs: track(signal) to track(()=>signal.value)
  .vscode/qwik.code-snippets
  packages/docs/src/routes/demo/getting-started/04-state/index.tsx
  packages/docs/src/routes/demo/getting-started/05-tasks/index.tsx
  packages/docs/src/routes/demo/getting-started/06-styling/index.tsx
  packages/docs/src/routes/demo/state/resource/index.tsx
  packages/docs/src/routes/demo/tasks/resource/index.tsx
  packages/docs/src/routes/demo/tasks/track-server-guard/index.tsx
  packages/docs/src/routes/demo/tasks/track/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/resource/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/state/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#3685 docs: add title in code block
  packages/docs/src/routes/docs/(qwik)/advanced/dollar/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/optimizer/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/qrl/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/vite/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/events/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/styles/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/menu/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/routing/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/static-assets/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/api/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/best-practices/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/mdx/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-nutshell/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/layout/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/pages/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/server$/index.mdx
Labels: COMP: docs

#3682 docs: onInput$ -> bind:value
  packages/docs/src/routes/docs/(qwikcity)/guides/qwik-react/index.mdx
Labels: COMP: docs

#2422 fix: use publish instead of dev for wrangler pages deployment
  starters/adapters/cloudflare-pages/package.json
Labels: COMP: starters

#3695 docs: update optimizer example
  packages/docs/src/routes/docs/(qwik)/advanced/dollar/index.mdx
Labels: COMP: docs

#3660 docs: better font family for code block on windows
  packages/docs/src/global.css
  packages/docs/src/repl/repl.css
Labels: COMP: docs

#3305 docs: Added a short readme for the Azure SWA adapter.
  starters/adapters/azure-swa/README.md
Labels: COMP: docs, COMP: starters

#3694 docs: added more titles
  packages/docs/src/routes/deployments/azure-swa/index.mdx
  packages/docs/src/routes/deployments/cloudflare-pages/index.mdx
  packages/docs/src/routes/deployments/gcp-cloud-run/index.mdx
  packages/docs/src/routes/deployments/netlify-edge/index.mdx
  packages/docs/src/routes/deployments/vercel-edge/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/custom-build-dir/index.mdx
  packages/docs/src/routes/docs/(qwik)/advanced/vite/index.mdx
  packages/docs/src/routes/integrations/partytown/index.mdx
  packages/docs/src/routes/integrations/postcss/index.mdx
  packages/docs/src/routes/integrations/react/index.mdx
  packages/docs/src/routes/integrations/styled-vanilla-extract/index.mdx
  packages/docs/src/routes/integrations/tailwind/index.mdx
  packages/docs/src/routes/integrations/vitest/index.mdx
Labels: COMP: docs

#3448 docs: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: COMP: docs

#3698 docs: add asterisk to 'use' for more clarity
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
Labels: COMP: docs

#3688 docs: update tutorial markup with semantic HTML where appropriate
  packages/docs/src/routes/tutorial/component/basic/problem/app.tsx
  packages/docs/src/routes/tutorial/component/basic/solution/app.tsx
  packages/docs/src/routes/tutorial/component/composition/problem/app.tsx
  packages/docs/src/routes/tutorial/component/composition/solution/app.tsx
  packages/docs/src/routes/tutorial/component/lite/problem/app.tsx
  packages/docs/src/routes/tutorial/component/lite/solution/app.tsx
  packages/docs/src/routes/tutorial/events/programmatic/problem/app.tsx
  packages/docs/src/routes/tutorial/events/programmatic/solution/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-signal/index.mdx
  packages/docs/src/routes/tutorial/hooks/use-signal/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-signal/solution/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-un-mount/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-un-mount/solution/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-visible-task/problem/app.tsx
  packages/docs/src/routes/tutorial/hooks/use-visible-task/solution/app.tsx
  packages/docs/src/routes/tutorial/introduction/component/index.mdx
  packages/docs/src/routes/tutorial/introduction/component/problem/app.tsx
  packages/docs/src/routes/tutorial/introduction/component/solution/app.tsx
  packages/docs/src/routes/tutorial/introduction/listeners/problem/app.tsx
  packages/docs/src/routes/tutorial/introduction/listeners/solution/app.tsx
  packages/docs/src/routes/tutorial/introduction/resource/problem/app.tsx
  packages/docs/src/routes/tutorial/introduction/resource/solution/app.tsx
  packages/docs/src/routes/tutorial/introduction/store/problem/app.tsx
  packages/docs/src/routes/tutorial/introduction/store/solution/app.tsx
  packages/docs/src/routes/tutorial/projection/basic/problem/app.tsx
  packages/docs/src/routes/tutorial/projection/fallback/problem/app.tsx
  packages/docs/src/routes/tutorial/projection/fallback/solution/app.tsx
  packages/docs/src/routes/tutorial/props/basic/problem/app.tsx
  packages/docs/src/routes/tutorial/props/basic/solution/app.tsx
  packages/docs/src/routes/tutorial/props/closures/problem/app.tsx
  packages/docs/src/routes/tutorial/props/closures/solution/app.tsx
  packages/docs/src/routes/tutorial/props/store/problem/app.tsx
  packages/docs/src/routes/tutorial/props/store/solution/app.tsx
  packages/docs/src/routes/tutorial/reactivity/resource/problem/app.tsx
  packages/docs/src/routes/tutorial/reactivity/resource/solution/app.tsx
  packages/docs/src/routes/tutorial/store/basic/problem/app.tsx
  packages/docs/src/routes/tutorial/store/basic/solution/app.tsx
  packages/docs/src/routes/tutorial/store/no-serialize/problem/app.tsx
  packages/docs/src/routes/tutorial/store/no-serialize/solution/app.tsx
  packages/docs/src/routes/tutorial/store/recursive/problem/app.tsx
  packages/docs/src/routes/tutorial/store/recursive/solution/app.tsx
  packages/docs/src/routes/tutorial/understanding/capturing/problem/app.tsx
  packages/docs/src/routes/tutorial/understanding/capturing/solution/app.tsx
  packages/docs/src/routes/tutorial/understanding/treeshaking/problem/app.tsx
  packages/docs/src/routes/tutorial/understanding/treeshaking/solution/app.tsx
  packages/docs/src/routes/tutorial/welcome/overview/problem/app.tsx
  packages/docs/src/routes/tutorial/welcome/overview/solution/app.tsx
Labels: COMP: docs

#3696 docs: improved groups in community page
  packages/docs/public/ecosystem/qwik-newsletter.svg
  packages/docs/public/ecosystem/telegram.svg
  packages/docs/src/routes/community/components/group-link.tsx
  packages/docs/src/routes/community/components/social-logos/discord-logo.tsx
  packages/docs/src/routes/community/components/social-logos/facebook-logo.tsx
  packages/docs/src/routes/community/components/social-logos/linkedin-logo.tsx
  packages/docs/src/routes/community/components/social-logos/meetup-logo.tsx
  packages/docs/src/routes/community/components/social-logos/reddit-logo.tsx
  packages/docs/src/routes/community/components/social-logos/telegram-logo.tsx
  packages/docs/src/routes/community/groups/index.mdx
Labels: COMP: docs

#3697 docs: Improve projects
  packages/docs/src/routes/community/projects/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#2852 fix: load `.env` files on dev server
  packages/qwik-city/buildtime/vite/plugin.ts
Labels: COMP: qwik-city

#3721 docs: add code highlights to getting started
  packages/docs/src/components/code-sandbox/index.css
  packages/docs/src/components/code-sandbox/index.tsx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#3799 fix(eslint-plugin-qwik): remove warning for bigint now that it can be serialized
  packages/eslint-plugin-qwik/src/validLexicalScope.ts
Labels: COMP: eslint

#3791 docs: add mobile search
  packages/docs/src/components/docsearch/doc-search.css
  packages/docs/src/components/header/header.css
Labels: COMP: docs, enhancement

#2493 feat: add eslint option to pass tsconfigFileNames
  packages/qwik/src/optimizer/src/plugins/eslint-plugin.ts
  packages/qwik/src/optimizer/src/plugins/plugin.ts
Labels: COMP: optimizer, COMP: eslint, DX

#3865 docs: show contributors on docs pages
  packages/docs/src/components/contributors/contributors.css
  packages/docs/src/components/contributors/index.tsx
  packages/docs/src/routes/docs/layout.tsx
Labels: COMP: docs, enhancement

#3864 docs: typo fix
  packages/docs/src/routes/docs/(qwik)/concepts/reactivity/index.mdx
Labels: COMP: docs

#3873 docs: fix 404 on lazy example
  packages/docs/src/routes/demo/component/lazy/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
Labels: COMP: docs

#3712 docs: added authjs
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/docs/src/routes/docs/menu.md
  starters/features/auth/src/routes/plugin@auth.ts
Labels: COMP: auth

#3910 starter: CLI allow current directory as app target
  packages/create-qwik/create-interactive.ts
Labels: COMP: starters

#3911 fix: hover state on playground buttons
  packages/docs/src/routes/tutorial/tutorial.css
Labels: COMP: docs

#3827 starter: redesign starter
  packages/docs/src/repl/repl-console.tsx
  packages/docs/src/routes/docs/(qwik)/components/styles/index.mdx
  starters/apps/base/src/global.css
  starters/apps/basic/public/favicon.svg
  starters/apps/basic/public/fonts/poppins-400.woff2
  starters/apps/basic/public/fonts/poppins-500.woff2
  starters/apps/basic/public/fonts/poppins-700.woff2
  starters/apps/basic/public/manifest.json
  starters/apps/basic/public/robots.txt
  starters/apps/basic/src/components/starter/counter/counter.css
  starters/apps/basic/src/components/starter/counter/counter.module.css
  starters/apps/basic/src/components/starter/counter/counter.tsx
  starters/apps/basic/src/components/starter/footer/footer.module.css
  starters/apps/basic/src/components/starter/footer/footer.tsx
  starters/apps/basic/src/components/starter/gauge/gauge.module.css
  starters/apps/basic/src/components/starter/gauge/index.tsx
  starters/apps/basic/src/components/starter/header/header.module.css
  starters/apps/basic/src/components/starter/header/header.tsx
  starters/apps/basic/src/components/starter/hero/hero.module.css
  starters/apps/basic/src/components/starter/hero/hero.tsx
  starters/apps/basic/src/components/starter/icons/qwik.tsx
  starters/apps/basic/src/components/starter/infobox/infobox.module.css
  starters/apps/basic/src/components/starter/next-steps/next-steps.module.css
  starters/apps/basic/src/components/starter/next-steps/next-steps.tsx
  starters/apps/basic/src/global.css
  starters/apps/basic/src/routes/(starter)/demo/flower/flower.css
  starters/apps/basic/src/routes/(starter)/demo/flower/index.tsx
  starters/apps/basic/src/routes/(starter)/demo/todolist/index.tsx
  starters/apps/basic/src/routes/(starter)/demo/todolist/todolist.module.css
  starters/apps/basic/src/routes/(starter)/index.tsx
  starters/apps/basic/src/routes/(starter)/layout.tsx
  starters/apps/basic/src/routes/(starter)/styles.css
  starters/apps/basic/src/routes/demo/flower/index.tsx
  starters/apps/basic/src/routes/demo/todolist/index.tsx
  starters/apps/basic/src/routes/demo/todolist/todolist.module.css
  starters/apps/basic/src/routes/index.tsx
  starters/apps/basic/src/routes/layout.tsx
Labels: COMP: starters

#3909 feat(docs): added more detailed documentation for qwik-auth
  packages/docs/public/ecosystem/authjs.png
  packages/docs/src/routes/(ecosystem)/ecosystem.json
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/docs/src/routes/docs/integrations/index.mdx
  starters/features/auth/package.json
Labels: COMP: docs, COMP: auth

#3858 docs: correct typos and ensure consistency
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
Labels: COMP: docs

#3940 docs: tiny adjustments
  packages/docs/src/routes/docs/(qwikcity)/advanced/speculative-module-fetching/index.mdx
Labels: COMP: docs

#3942 docs: fix edit this page
  packages/docs/src/components/on-this-page/on-this-page.tsx
Labels: COMP: docs

#3975 feat(cloudflare-pages-adapter): refactor the cloudflare pages adapter to use _worker.js
  packages/docs/functions/[[path]].ts
  packages/docs/src/routes/docs/deployments/cloudflare-pages/index.mdx
  packages/qwik-city/adapters/cloudflare-pages/vite/index.ts
  packages/qwik-city/middleware/cloudflare-pages/api.md
  packages/qwik-city/middleware/cloudflare-pages/index.ts
  starters/adapters/cloudflare-pages/functions/[[path]].ts
  starters/adapters/cloudflare-pages/src/entry.cloudflare-pages.tsx
Labels: COMP: starters
