Repository QwikDev/qwik, pull requests merged in 2023-06, with the labels that each got.

#4290 server$ fixes, and improvements
  packages/docs/src/routes/docs/(qwikcity)/server$/index.mdx
  packages/qwik-city/middleware/node/http.ts
  packages/qwik-city/middleware/request-handler/resolve-request-handlers.ts
  packages/qwik-city/runtime/src/server-functions.ts
Labels: COMP: qwik-city

#4327 fix: missing media type in DocumentMeta
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/types.ts
Labels: COMP: qwik-city

#4393 docs: env small typos
  packages/docs/src/routes/docs/(qwikcity)/env-variables/index.mdx
Labels: COMP: docs

#4380 docs: Grammar and clarification for endpoints
  packages/docs/src/routes/docs/(qwikcity)/endpoints/index.mdx
Labels: COMP: docs

#4394 docs: eslint page adjustment
  packages/docs/src/routes/docs/(qwik)/advanced/eslint/index.mdx
  packages/eslint-plugin-qwik/src/useMethodUsage.ts
Labels: COMP: docs

#4392 docs: add Qwikbits to ecosystem
  packages/docs/public/ecosystem/qwikbits.svg
  packages/docs/src/routes/(ecosystem)/ecosystem.json
Labels: COMP: docs

#4119 docs: add qwik-auth route protection example
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
Labels: COMP: docs, COMP: auth

#4260 docs: api docs fixed markdown links
  packages/docs/src/routes/api/api.css
  packages/docs/src/routes/api/qwik-city-middleware-cloudflare-pages/index.md
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/docs/src/routes/api/qwik-city-static/index.md
  packages/docs/src/routes/api/qwik-city-vite-cloudflare-pages/index.md
  packages/docs/src/routes/api/qwik-city-vite-netlify-edge/index.md
  packages/docs/src/routes/api/qwik-city-vite-vercel/index.md
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/api/qwik-optimizer/index.md
  packages/docs/src/routes/api/qwik-server/index.md
  packages/docs/src/routes/api/qwik/index.md
  scripts/api-docs.ts
Labels: COMP: docs

#3244 [✨] Critical DX/UX improvement to SPA navigation in Qwik City
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/docs/(qwikcity)/api/index.mdx
  packages/qwik-city/buildtime/build-layout.unit.ts
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/client-navigate.ts
  packages/qwik-city/runtime/src/client-navigate.unit.ts
  packages/qwik-city/runtime/src/contexts.ts
  packages/qwik-city/runtime/src/form-component.tsx
  packages/qwik-city/runtime/src/index.ts
  packages/qwik-city/runtime/src/link-component.tsx
  packages/qwik-city/runtime/src/qwik-city-component.tsx
  packages/qwik-city/runtime/src/scroll-restoration.ts
  packages/qwik-city/runtime/src/types.ts
  starters/apps/qwikcity-test/src/routes/scroll-restoration/hash/index.tsx
  starters/apps/qwikcity-test/src/routes/scroll-restoration/layout.tsx
  starters/apps/qwikcity-test/src/routes/scroll-restoration/page-long/index.tsx
  starters/apps/qwikcity-test/src/routes/scroll-restoration/page-short/index.tsx
  starters/e2e/qwikcity/nav.spec.ts
  starters/e2e/qwikcity/util.ts
Labels: COMP: qwik-city

#4095 docs: add CodeSandbox demo to Modular Forms guide
  packages/docs/package.json
  packages/docs/src/routes/demo/demo-reset.css
  packages/docs/src/routes/demo/integration/modular-forms/index.tsx
  packages/docs/src/routes/demo/state/counter-store-deep/index.tsx
  packages/docs/src/routes/docs/(qwik)/components/overview/index.mdx
  packages/docs/src/routes/docs/(qwik)/components/state/index.mdx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/integrations/modular-forms/index.mdx
  pnpm-lock.yaml
Labels: COMP: docs

#4418 docs: fix link to `Bundle Optimization`
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#4439 docs: fix example to match
  packages/docs/src/routes/docs/(qwik)/advanced/dollar/index.mdx
Labels: COMP: docs

#4390 feat(adapter): aws starter adapter
  packages/qwik/src/optimizer/src/plugins/vite.ts
  starters/adapters/aws-lambda/adapters/aws-lambda/vite.config.ts
  starters/adapters/aws-lambda/package.json
  starters/adapters/aws-lambda/serverless.yml
  starters/adapters/aws-lambda/src/entry_aws-lambda.tsx
Labels: COMP: starters

#4462 docs: routeLoader adjustment
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
Labels: COMP: docs

#4460 fix: root gitignore file
  .gitignore
Labels: bug

#4442 docs: Update the middleware / endpoint documentation
  packages/docs/codesandbox.sync.ts
  packages/docs/public/docs/qwikcity/README.md
  packages/docs/public/docs/qwikcity/routing-files.png
  packages/docs/public/docs/qwikcity/routing.png
  packages/docs/src/routes/demo/demo-reset.css
  packages/docs/src/routes/demo/integration/img/qwik-image/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/basePathname/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/cacheControl/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/component/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/cookie/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/env/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/error/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/exit/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/getWritableStream/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/headerSent/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/headers/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/html/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/json/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/locale/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/method/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/next/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/params/[myId]/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/parseBody/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/platform/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/proxy/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/query/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/redirect/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/request/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/send/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/sharedMap/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/status/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/text/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/throw/index.tsx
  packages/docs/src/routes/demo/qwikcity/middleware/url/index.tsx
  packages/docs/src/routes/docs/(qwikcity)/advanced/request-handling/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/api/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/caching/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/endpoints/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/qwikcity/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/routing/index.mdx
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#4441 fix: implicitly end middleware chain on response
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/api.json
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/middleware/request-handler/request-event.ts
  packages/qwik-city/middleware/request-handler/types.ts
Labels: COMP: qwik-city

#4514 docs: fixed a typo in image link
  packages/docs/src/routes/docs/integrations/image-optimization/index.mdx
Labels: COMP: docs

#4513 docs: added custom icons
  packages/docs/public/icons/api_server.svg
  packages/docs/public/icons/community_chat.svg
  packages/docs/public/icons/courses_book.svg
  packages/docs/public/icons/getting_started_rocket.svg
  packages/docs/public/icons/qwikCity_and_routing.svg
  packages/docs/public/icons/see_more_media.svg
  packages/docs/public/icons/showcase.svg
  packages/docs/public/icons/why_qwik_logo.svg
  packages/docs/src/routes/docs/(qwik)/index.mdx
  packages/docs/src/routes/docs/docs.css
Labels: COMP: docs

#4500 docs: fix typos
  packages/docs/src/routes/docs/integrations/prisma/index.mdx
Labels: COMP: docs

#4499 docs: move think-qwik page to concepts route
  README.md
  packages/docs/src/routes/docs/(qwik)/concepts/progressive/index.mdx
  packages/docs/src/routes/docs/(qwik)/concepts/think-qwik/index.mdx
  packages/docs/src/routes/docs/(qwik)/faq/index.mdx
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
  packages/docs/src/routes/docs/(qwik)/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#4430 docs: fixed typos in comments and docs
  packages/docs/src/components/home-page-v2/callout.tsx
  packages/docs/src/routes/docs/(qwik)/components/tasks/index.mdx
  packages/qwik-city/middleware/request-handler/resolve-request-handlers.ts
  packages/qwik/src/core/platform/readme.md
Labels: COMP: docs

#4528 fix: renderToString mode is always ignored and returns an empty page
  packages/qwik-city/middleware/request-handler/resolve-request-handlers.ts
Labels: COMP: qwik-city

#4544 docs: add panda css
  packages/docs/src/routes/docs/integrations/panda-css/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#2689 docs: add ss-link to showcase
  packages/docs/scripts/pages.json
Labels: showcase

#4437 docs: Update deprecation information about the basePathname
  packages/docs/src/routes/docs/(qwikcity)/guides/static-site-generation/index.mdx
Labels: COMP: docs

#4649 docs(utilities): adding documentation for the `new` cli command
  packages/docs/src/routes/docs/(qwikcity)/project-structure/index.mdx
Labels: COMP: docs

#4642 docs: aws lambda documentation
  packages/docs/src/routes/docs/deployments/aws-lambda/index.mdx
  packages/docs/src/routes/docs/menu.md
  pnpm-lock.yaml
Labels: COMP: docs

#2780 docs: resumable
  packages/docs/src/routes/docs/(qwik)/concepts/resumable/index.mdx
Labels: COMP: docs, docs-task-force
