Repository QwikDev/qwik, pull requests merged in 2024-01, with the labels that each got.

#5619 docs: for accessing the .env variables in serverfull architechture example in express
  packages/docs/src/routes/docs/(qwikcity)/env-variables/index.mdx
Labels: COMP: docs

#5668 docs: Update build command in Static Site Generation (SSG) Overview docs
  packages/docs/src/routes/docs/(qwikcity)/guides/static-site-generation/index.mdx
Labels: COMP: docs

#5593 fix: fixing running qwik-development-server on windows machine
  starters/dev-server.ts
Labels: COMP: starters, STATUS-2: PR waiting for review

#5670 fix(starter): add vite plugin type
  starters/apps/base/vite.config.ts
Labels: COMP: starters

#5651 feat(qwik-react): directive aliases for Astro and other package conflicts
  packages/qwik-react/package.json
  packages/qwik-react/src/react/slot.ts
  packages/qwik-react/src/react/types.ts
Labels: COMP: runtime, STATUS-2: waiting for core

#5546 refactor: Clarify var naming qwikloader.ts
  packages/qwik/src/qwikloader.ts
Labels: COMP: docs

#5615 feat(labs): Support base prefix in untypedAppUrl
  packages/qwik-labs/src/qwik-types/public-api.ts
Labels: COMP: qwik-city, STATUS-2: waiting for core

#5479 style(starter templates): updates to starter templates names
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/qwikcity/index.mdx
  starters/apps/basic/package.json
  starters/apps/empty/package.json
  starters/apps/library/package.json
  starters/apps/site-with-visual-cms/package.json
Labels: COMP: docs, STATUS-2: waiting for an answer

#5674 refactor(starter): add alt attribute in order to improve accessibility
  starters/apps/basic/src/components/starter/hero/hero.tsx
Labels: COMP: starters

#5675 feat(cookbook): add Algolia search
  packages/docs/src/routes/demo/cookbook/algolia-search/index.tsx
  packages/docs/src/routes/docs/cookbook/algolia-search/index.mdx
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs, STATUS-2: PR waiting for review

#5694 docs: fix typos for nav link cookbook
  packages/docs/src/routes/docs/cookbook/nav-link/index.mdx
Labels: COMP: docs

#5603 fix: Uppercase handling for SameSite cookie values
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/api.json
  packages/docs/src/routes/api/qwik-city-middleware-request-handler/index.md
  packages/qwik-city/middleware/request-handler/api.md
  packages/qwik-city/middleware/request-handler/cookie.ts
  packages/qwik-city/middleware/request-handler/cookie.unit.ts
  packages/qwik-city/middleware/request-handler/types.ts
Labels: COMP: auth, STATUS-2: PR waiting for review

#5501 fix(core): serialize the 'key' attribute of JSX nodes
  packages/qwik/src/core/container/serializers.ts
Labels: COMP: optimizer

#5733 docs(cookbook): add Combine Request Handlers example
  packages/docs/src/routes/demo/cookbook/combine-request-handlers/index.tsx
  packages/docs/src/routes/docs/cookbook/combine-request-handlers/index.mdx
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs, STATUS-2: PR waiting for review
