Repository QwikDev/qwik, pull requests merged in 2024-08, with the labels that each got.

#5745 feat(vite-plugin): set assets path in build to /assets
  .changeset/sour-papayas-travel.md
  packages/qwik/src/optimizer/src/plugins/rollup.ts
  packages/qwik/src/optimizer/src/plugins/vite.unit.ts
  starters/dev-server.ts
Labels: VERSION: upcoming minor

#6781 fix(starter): update CLI version of storybook
  starters/features/storybook/package.json
Labels: COMP: starters

#6793 docs: move the env variable to guide/env-variable
  packages/docs/src/routes/docs/(qwikcity)/guides/env-variables/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#6794 docs: update the location of the re-loader to be under /(qwik-cty) instead of /cookbook
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/re-exporting-loaders/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/route-loader/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#6792 docs: add Core api reference in the the menu
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#6776 docs: add new showcase site
  packages/docs/scripts/pages.json
Labels: COMP: docs, WAITING FOR: user
