Repository QwikDev/qwik, pull requests merged in 2024-07, with the labels that each got.

#6410 fix(qwik-city): fix redirect with search params
  packages/qwik-city/runtime/src/qwik-city-component.tsx
  starters/apps/qwikcity-test/src/routes/search-params-redirect/index.tsx
  starters/e2e/qwikcity/nav.spec.ts
Labels: COMP: qwik-city

#6568 feat(qwikcity/actions): dotnotation field-errors
  packages/docs/src/routes/api/qwik-city/api.json
  packages/docs/src/routes/api/qwik-city/index.md
  packages/docs/src/routes/api/qwik/api.json
  packages/docs/src/routes/api/qwik/index.md
  packages/docs/src/routes/docs/(qwikcity)/action/index.mdx
  packages/docs/src/routes/docs/(qwikcity)/advanced/complex-forms/index.mdx
  packages/qwik-city/runtime/src/api.md
  packages/qwik-city/runtime/src/index.ts
  packages/qwik-city/runtime/src/server-functions.ts
  packages/qwik-city/runtime/src/types.ts
  starters/apps/qwikcity-test/src/routes/(common)/actions/issue5065/index.tsx
  starters/apps/qwikcity-test/src/routes/(common)/actions/issue5463/index.tsx
  starters/apps/qwikcity-test/src/routes/(common)/actions/validated/index.tsx
Labels: BREAKING CHANGE

#6658 feat: use new @auth/qwik package
  packages/docs/src/routes/docs/integrations/authjs/index.mdx
  packages/insights/package.json
  packages/insights/src/components/header/index.tsx
  packages/insights/src/routes/app/layout.tsx
  packages/insights/src/routes/index.tsx
  packages/insights/src/routes/layout.tsx
  packages/insights/src/routes/plugin@auth.ts
  pnpm-lock.yaml
  starters/features/auth/package.json
  starters/features/auth/src/routes/plugin@auth.ts
Labels: COMP: docs, COMP: starters

#5702 chore: Remove undici, set minimum node version to 18.17
  .github/ISSUE_TEMPLATE/bug.yaml
  package.json
  packages/docs/contributors.ts
  packages/docs/package.json
  packages/docs/scripts/showcase.js
  packages/eslint-plugin-qwik/package.json
  packages/insights/package.json
  packages/qwik-auth/package.json
  packages/qwik-city/buildtime/vite/plugin.ts
  packages/qwik-city/middleware/node/index.ts
  packages/qwik-city/middleware/node/node-fetch.ts
  packages/qwik-city/package.json
  packages/qwik-city/runtime/src/service-worker/utils.unit.ts
  packages/qwik-city/static/node/index.ts
  packages/qwik-city/static/node/node-system.ts
  packages/qwik-labs/package.json
  packages/qwik-react/package.json
  packages/qwik-worker/package.json
  packages/qwik/package.json
  packages/qwik/src/cli/utils/utils.ts
  packages/qwik/src/optimizer/src/plugins/vite-server.ts
  pnpm-lock.yaml
  scripts/create-qwik-cli.ts
  scripts/package-json.ts
  starters/adapters/firebase/functions/package.json
  starters/apps/base/package.json
  starters/apps/library/package.json
  starters/dev-server.ts
  tsm.cjs
Labels: VERSION: upcoming major
