Repository QwikDev/qwik, pull requests merged in 2024-03, with the labels that each got.

#5898 test(v2): add possible improvements tests
  packages/qwik/src/core/v2/use-computed.unit.tsx
Labels: Qwik v2

#5922 test(v2): add useStore failing case
  packages/qwik/src/core/v2/use-store.unit.tsx
Labels: Qwik v2

#5867 test(use-styles-scoped): add use styles scoped impl and tests for v2
  packages/qwik/src/core/use/use-styles.ts
  packages/qwik/src/core/util/markers.ts
  packages/qwik/src/core/v2/TEST.md
  packages/qwik/src/core/v2/client/dom-container.ts
  packages/qwik/src/core/v2/client/vnode-diff.ts
  packages/qwik/src/core/v2/client/vnode.ts
  packages/qwik/src/core/v2/rendering.unit-util.tsx
  packages/qwik/src/core/v2/shared/component-execution.ts
  packages/qwik/src/core/v2/shared/scheduler.ts
  packages/qwik/src/core/v2/shared/scoped-styles.ts
  packages/qwik/src/core/v2/shared/scoped-styles.unit.tsx
  packages/qwik/src/core/v2/shared/shared-serialization.ts
  packages/qwik/src/core/v2/shared/types.ts
  packages/qwik/src/core/v2/ssr/ssr-container.ts
  packages/qwik/src/core/v2/ssr/ssr-render.ts
  packages/qwik/src/core/v2/ssr/types.ts
  packages/qwik/src/core/v2/use-styles-scoped.unit.tsx
  packages/qwik/src/core/v2/use-styles.unit.tsx
Labels: Qwik v2

#5924 test(use-store): add set interval test for 5597 issue
  packages/qwik/src/core/use/use-task.ts
  packages/qwik/src/core/v2/use-store.unit.tsx
  packages/qwik/src/testing/element-fixture.ts
Labels: Qwik v2

#5934 docs: add new website to showcase
  packages/docs/scripts/pages.json
Labels: COMP: docs

#3679 fix(cloudflare): wait to cache until response complete
  packages/qwik-city/middleware/cloudflare-pages/index.ts
Labels: STATUS-2: waiting for an answer, COMP: starters

#5943 test(v2): add ClassList tests
  packages/qwik/src/core/v2/client/vnode-diff.ts
  packages/qwik/src/core/v2/ssr/ssr-render.ts
  packages/qwik/src/core/v2/use-computed.unit.tsx
  packages/qwik/src/core/v2/use-context.unit.tsx
  packages/qwik/src/core/v2/use-signal.unit.tsx
  packages/qwik/src/core/v2/use-store.unit.tsx
Labels: VERSION: Qwik v2

#5959 test(v2): add test for #5662 issue
  package.json
  packages/qwik/src/core/v2/use-store.unit.tsx
Labels: VERSION: Qwik v2

#5964 feat(v2): null handling
  packages/qwik/src/core/v2/client/vnode-diff.ts
  packages/qwik/src/core/v2/component.unit.tsx
Labels: VERSION: Qwik v2

#5945 test(v2): add test for 5782 issue
  packages/qwik/src/core/v2/use-task.unit.tsx
Labels: VERSION: Qwik v2

#6041 docs: update Cloudflare Pages Guide
  packages/docs/src/routes/docs/deployments/cloudflare-pages/index.mdx
Labels: COMP: docs

#6053 docs: improve readability
  packages/docs/src/routes/tutorial/events/preventdefault/index.mdx
Labels: COMP: docs

#6044 docs: add Google Structured Data example
  packages/docs/src/routes/docs/(qwikcity)/pages/index.mdx
Labels: COMP: docs

#6065 docs: improve example in middleware doc
  packages/docs/src/routes/docs/(qwikcity)/middleware/index.mdx
Labels: COMP: docs
