Repository QwikDev/qwik, pull requests merged in 2024-02, with the labels that each got.

#5849 fix(create-qwik): update engine version in package.json for generated projects
  packages/qwik/src/cli/utils/utils.ts
Labels: COMP: starters

#5859 docs(qwik-labs): fix typo
  packages/docs/src/routes/docs/labs/index.mdx
Labels: COMP: docs

#5879 docs: add "Streaming/deferred loaders" cookbook
  packages/docs/src/routes/demo/cookbook/streaming-deferred-loaders/index.tsx
  packages/docs/src/routes/docs/cookbook/index.mdx
  packages/docs/src/routes/docs/cookbook/streaming-deferred-loaders/index.mdx
  packages/docs/src/routes/docs/menu.md
Labels: COMP: docs

#5887 docs: add Deno SSR caveat
  packages/docs/src/routes/docs/deployments/deno/index.mdx
Labels: COMP: docs

#5895 docs: Add missing server$ import in Getting started example
  packages/docs/src/routes/docs/(qwik)/getting-started/index.mdx
Labels: COMP: docs

#5894 feat: drizzle orm integration
  packages/docs/src/routes/docs/integrations/drizzle/index.mdx
  starters/features/drizzle/drizzle.config.ts
  starters/features/drizzle/drizzle/schema.ts
  starters/features/drizzle/package.json
  starters/features/drizzle/src/routes/create/index.tsx
  starters/features/drizzle/src/routes/users/[userId]/index.tsx
  starters/features/drizzle/src/routes/users/index.tsx
Labels: COMP: docs, COMP: starters

#5903 chore(docs): change indicator side from left to the right
  packages/docs/src/components/sidebar/sidebar.css
  packages/docs/src/components/sidebar/sidebar.tsx
Labels: COMP: docs

#5906 test(v2): add Parent Child test case
  packages/qwik/src/core/v2/client/vnode.ts
  packages/qwik/src/core/v2/component.unit.tsx
Labels: Qwik v2
